<!-- Search input -->
<form class="nao-smart-search">
  <!-- Icon -->
  <app-icon icon="nao-search-icon"></app-icon>
  <!-- Input -->
  <input
    class="nao-smart-search__control"
    type="text"
    id="site-search"
    autocapitalize="off"
    autocomplete="off"
    spellcheck="false"
    name="search"
    [value]="query$.getValue()"
    [placeholder]="'INPUT_SEARCH_PLACEHOLDER' | translate"
    (keyup)="onSearchKeyUp($event)"
    (focus)="onSearchFocus($event)"
    (keyup.enter)="searchAndRedirect()"
  />
</form>


