<div class="indicator" [class.indicator--open]="classIndicatorOpen"
     [class.indicator--trigger--click]="trigger === 'click'"
     [class.indicator--trigger--hover]="trigger === 'hover'">
    <a [attr.href]="href" class="indicator__button indibtn" (click)="onClick($event)" style="height: 40px;">
        <span class="indicator__icon" style="padding: 4px; ">
            <i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>
            <!-- <app-icon [icon]="icon"></app-icon> -->
            
        </span>
        <span *ngIf="label" class="indicator__title" style="padding: 0px; font-size: 20px;margin-left: 30px;">Cart</span>
        <span class="indicator__counter" *ngIf="counter !== undefined && counter !== null">{{ counter }}</span>
        
        <!-- <span *ngIf="value" class="indicator__value">{{ value }}</span> -->
    </a>
    <div class="indicator__content">
        <ng-content></ng-content>
    </div>
</div>
