.indibtn {
    background-color: #000000;
    padding-block: 8px;
    font-family: var(--font-family);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    padding: 5px 15px 7px 15px;
    transition: 0.1s ease-out;
}
.indicator__icon {
    fill:white ;
}
.indibtn:hover .indicator__icon {
    fill: red;
    color: white;
}

.indicator__title {
    font-size: 22px;
    color:white;
}

.indibtn:hover .indicator__title {
    font-size: 22px;
    color:white;
}

.indibtn:hover {
    fill: red;
    color: white;
    background-color: #fd7e14;
}
