<!--Spacer-->
<div class="nao-spacer-before-block-header"></div>
<!--Show success order-->
<ng-container *ngIf="successOrder">
    <!--Spacer-->
    <div class="nao-spacer-ledge-height"></div>
    <div class="block order-success">
        <div class="container">
            <div class="order-success__body">
                <div class="order-success__header">
                    <app-icon class="order-success__icon" icon="check-100"></app-icon>
                    <h1 class="order-success__title">{{ 'HEADER_ORDER_SUCCESS_TITLE' | translate }}</h1>
                    <div class="order-success__subtitle">{{ 'HEADER_ORDER_SUCCESS_SUBTITLE' | translate }}</div>
                    <div class="order-success__actions">
                        <a routerLink="/" class="btn btn-sm btn-secondary">{{ 'BUTTON_GO_TO_HOMEPAGE' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!--Show checkout page-->
<ng-container *ngIf="!successOrder">

    <app-block-header [pageTitle]="'HEADER_CHECKOUT' | translate" [breadcrumb]="[
        {label: 'LINK_HOME' | translate, url: url.home()},
        {label: 'LINK_CART' | translate, url: url.cart()},
        {label: 'LINK_CHECKOUT' | translate, url: url.checkout()}
    ]"></app-block-header>

    <div class="checkout-section" [formGroup]="formGroup">
        <main class="mt-5 pt-4">
            <div class="container wow fadeIn">
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <div class="card mb-lg-0">
                            <div class="card-body card-body--padding--2">
                                <!-- <h3 class="card-title">{{ 'HEADER_BILLING_DETAILS' | translate }}</h3> -->

                                <div class="form-group">
                                    <label>Shipping Address<sup>*</sup></label>
                                    <select class="form-control" formControlName="shippingAddressId"
                                        [class.is-invalid]="formGroup?.controls?.shippingAddressId|isInvalid">
                                        <option *ngFor="let item of addresses" [value]="item.id">
                                            {{ item.line_1 }} {{ item.line_2 }} {{ item.city }} {{ item.zip }} {{
                                            item.type
                                            | titlecase }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <div *ngIf="formGroup?.controls?.shippingAddressId|hasError:'required'">
                                            {{ 'ERROR_FORM_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Billing Address<sup>*</sup></label>
                                    <select class="form-control" formControlName="billingAddressId"
                                        [class.is-invalid]="formGroup?.controls?.billingAddressId|isInvalid">
                                        <option *ngFor="let item of addresses" [value]="item.id">
                                            {{ item.line_1 }} {{ item.line_2 }} {{ item.city }} {{ item.zip }} {{
                                            item.type
                                            | titlecase }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <div *ngIf="formGroup?.controls?.billingAddressId|hasError:'required'">
                                            {{ 'ERROR_FORM_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Shipping Method<sup>*</sup></label>
                                    <select class="form-control" formControlName="shippingMethod"
                                        [class.is-invalid]="formGroup?.controls?.shippingMethod|isInvalid">
                                        <option *ngFor="let item of shippingMethods" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        <div *ngIf="formGroup?.controls?.shippingMethod|hasError:'required'">
                                            {{ 'ERROR_FORM_REQUIRED' | translate }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Customer purchase order</label>
                                    <input type="text" class="form-control" formControlName="customerPurchaseOrder"
                                        placeholder="PO-65472223">
                                </div>
                                <hr class="mb-4">

                                <div class="checkout__payment-methods payment-methods" *ngIf="payments?.length">
                                    <ul class="payment-methods__list" formControlName="paymentMethod" appRadioGroup>
                                        <li *ngFor="let payment of payments" class="payment-methods__item"
                                            appCollapseItem="payment-methods__item--active"
                                            [appCollapseItemIsOpen]="formGroup.controls.paymentMethod.value === payment.name">
                                            <label class="payment-methods__item-header">
                                                <app-radio-button class="payment-methods__item-radio"
                                                    [value]="payment.name"></app-radio-button>
                                                <span class="payment-methods__item-title">
                                                    {{ payment.label|translate }}
                                                </span>
                                            </label>
                                            <div class="payment-methods__item-container" appCollapseContent>
                                                <div class="payment-methods__item-details text-muted">
                                                    {{ payment.description|translate }}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!--Checkbox for terms-->
                                <div class="checkout__agree form-group">
                                    <div class="form-check">
                                        <app-checkbox formControlName="agree" class="form-check-input"
                                            [class.is-invalid]="formGroup.controls.agree|isInvalid"
                                            #termsCheckbox="appCheckbox"></app-checkbox>
                                        <label class="form-check-label" [htmlFor]="termsCheckbox.inputId"
                                            [appSplitString]="'INPUT_TERMS_AGREE_LABEL' | translate"
                                            #string="splitString">
                                            {{ string.getPart(0) }}
                                            <a [href]="'site/terms'" (click)="showTerms($event)">{{ string.getPart(1)
                                                }}</a>
                                            {{ string.getPart(2) }}
                                        </label>
                                    </div>
                                </div>
                                <div class="wrapper">
                                    <button type="submit" class="btn btn-primary btn-xl btn-block cart-button-2"
                                        [disabled]="checkoutInProgress || formGroup.invalid || checkOrderProgress"
                                        [class.btn-loading]="checkoutInProgress || checkOrderProgress"
                                        (click)="createOrder()">
                                        {{(allowedPaymentMethodsForRedirect.includes(formGroup.get('paymentMethod').value)
                                        ?
                                        'BUTTON_PROCEED_TO_PAYMENT' : 'BUTTON_PLACE_ORDER') | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">

                        <!-- Heading -->
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">{{ 'HEADER_YOUR_ORDER' | translate }}</span>
                            <span class="badge badge-secondary badge-pill">{{cart.items.length}}</span>
                        </h4>

                        <!-- Cart -->
                        <ul class="list-group mb-3 z-depth-1">
                            <li *ngFor="let item of cart.items$|async"
                                class="list-group-item d-flex justify-content-between lh-condensed">
                                <div class="product-image">
                                    <a [routerLink]="url.product(item.product)" class="image__body">
                                        <img class="image__tag" [src]="item.product | getProductImage: item.variant" alt="">
                                    </a>
                                </div>
                                <div style="padding-right:10px">
                                    <h6 class="my-0">{{ item.product.data?.name }}</h6>
                                    <small class="text-muted">Variant: {{ item.variant?.variantName }} × {{
                                        item.quantity }}</small>
                                </div>
                                <span class="text-muted">{{ item.variant.price * item.quantity | currencyFormat
                                    }}</span>
                            </li>

                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ 'TABLE_SUBTOTAL' | translate }}</span>
                                <strong>{{ ((cart.subtotal$|async) || 0) | currencyFormat }}</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ 'TABLE_TOTAL_SHIPPING' | translate }}</span>
                                <strong>{{ ((summary.shipping) || 0) | currencyFormat }}</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ 'TABLE_TOTAL_TAX' | translate }}</span>
                                <strong>{{ ((summary.taxes) || 0) | currencyFormat }}</strong>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ 'TABLE_TOTAL' | translate }}</span>
                                <strong>{{ ((summary.total) || 0) | currencyFormat }}</strong>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </main>
    </div>



















</ng-container>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>