<div class="products-view" [class.products-view--loading]="page.isLoading">
    <div class="products-view__body">
        <div class="products-view__loader"></div>

    <!--    <div *ngIf="(isEmptyList$|async) && (hasActiveFilters$|async)" class="products-view__empty">-->
    <!--        <div class="products-view__empty-title">-->
    <!--            {{ 'TEXT_NO_MATCHING_ITEMS_TITLE' | translate }}-->
    <!--        </div>-->
    <!--        <div class="products-view__empty-subtitle">-->
    <!--            {{ 'TEXT_NO_MATCHING_ITEMS_SUBTITLE' | translate }}-->
    <!--        </div>-->
    <!--        <div class="products-view__empty-actions">-->
    <!--            <button type="button" class="btn btn-primary btn-sm" (click)="page.resetAllFilters()">-->
    <!--                {{ 'BUTTON_RESET_FILTERS' | translate }}-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div *ngIf="(isEmptyList$|async) && (hasActiveFilters$|async) === false" class="products-view__empty">-->
    <!--        <div class="products-view__empty-title">{{ 'TEXT_CATEGORY_IS_EMPTY_TITLE' | translate }}</div>-->
    <!--        <div class="products-view__empty-subtitle">{{ 'TEXT_CATEGORY_IS_EMPTY_SUBTITLE' | translate }}</div>-->
    <!--    </div>-->
    <!--    <ng-container *ngIf="(isEmptyList$|async) === false">-->
        <ng-container >
            <div
                class="products-view__options view-options"
                [class.view-options--offcanvas--always]="offCanvasSidebar === 'always'"
                [class.view-options--offcanvas--mobile]="offCanvasSidebar === 'mobile'"
            >
                <div class="view-options__body">
                    <button type="button" class="view-options__filters-button filters-button" (click)="sidebar.open()">
                        <span class="filters-button__icon"><app-icon icon="filters-16"></app-icon></span>
                        <span class="filters-button__title">{{ 'BUTTON_FILTERS' | translate }}</span>
                        <span class="filters-button__counter">{{ currentFiltersCount$|async }}</span>
                    </button>

                    <div class="view-options__layout layout-switcher">
                        <div class="layout-switcher__list">
                            <button
                                *ngFor="let layoutButton of layoutButtons"
                                type="button"
                                class="layout-switcher__button"
                                [class.layout-switcher__button--active]="layoutButton.layout === layout"
                                (click)="setLayout(layoutButton.layout)"
                            >
                                <app-icon [icon]="layoutButton.icon"></app-icon>
                            </button>
                        </div>
                    </div>

                    <div class="view-options__legend">
                        {{ 'TEXT_SHOWING_PRODUCTS' | translate:{
                            from: page.from || 0,
                            to: page.to || 0,
                            total: page.total || 0
                        } }}
                    </div>

                    <div class="view-options__spring"></div>

                    <div class="view-options__select">
                        <label for="view-option-sort">{{ 'INPUT_SORT_LABEL' | translate }}:</label>
                        <select id="view-option-sort" class="form-control form-control-sm" [formControl]="sortControl">
                            <option value="name_asc">{{ 'INPUT_SORT_OPTION_NAME_ASC' | translate }}</option>
                            <option value="name_desc">{{ 'INPUT_SORT_OPTION_NAME_DESC' | translate }}</option>
                        </select>
                    </div>
                    <div class="view-options__select">
                        <label for="view-option-limit">{{ 'INPUT_LIMIT_LABEL' | translate }}:</label>
                        <select id="view-option-limit" class="form-control form-control-sm" [formControl]="limitControl">
                            <option value="8">8</option>
                            <option value="16">16</option>
                            <option value="24">24</option>
                            <option value="32">32</option>
                        </select>
                    </div>
                </div>

                <div class="view-options__body view-options__body--filters" *ngIf="hasActiveFilters$|async">
                    <div class="view-options__label">{{ 'TEXT_ACTIVE_FILTERS' | translate }}</div>
                    <div class="view-options__applied-filters applied-filters">
                        <ul class="applied-filters__list">
                            <li *ngFor="let filter of page.currentFilters$|async; trackBy: trackById" class="applied-filters__item">
                                <button
                                    type="button"
                                    class="applied-filters__button applied-filters__button--filter"
                                    (click)="page.resetFilter(filter)"
                                >
                                    {{ filter|activeFilterLabel }}

                                    <app-icon icon="cross-9-light"></app-icon>
                                </button>
                            </li>
                            <li class="applied-filters__item">
                                <button
                                    type="button"
                                    class="applied-filters__button applied-filters__button--clear"
                                    (click)="page.resetAllFilters()"
                                >{{ 'BUTTON_CLEAR_ALL' | translate }}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <!--Empty state-->
            <div *ngIf="(isEmptyList$|async) && (hasActiveFilters$|async)" class="products-view__empty">
                <div class="products-view__empty-title">
                    {{ 'TEXT_NO_MATCHING_ITEMS_TITLE' | translate }}
                </div>
                <div class="products-view__empty-subtitle">
                    {{ 'TEXT_NO_MATCHING_ITEMS_SUBTITLE' | translate }}
                </div>
                <div class="products-view__empty-actions">
                    <button type="button" class="btn btn-primary btn-sm" (click)="page.resetAllFilters()">
                        {{ 'BUTTON_RESET_FILTERS' | translate }}
                    </button>
                </div>
            </div>

            <div *ngIf="(isEmptyList$|async) && (hasActiveFilters$|async) === false" class="products-view__empty">
                <div class="products-view__empty-title">{{ 'TEXT_CATEGORY_IS_EMPTY_TITLE' | translate }}</div>
                <div class="products-view__empty-subtitle">{{ 'TEXT_CATEGORY_IS_EMPTY_SUBTITLE' | translate }}</div>
            </div>

            <!--View products-->

            <div class="products-view__list products-list products-list--grid--4"
                 *ngIf="(isEmptyList$|async) === false"
                [attr.data-layout]="layout === 'grid-with-features' ? 'grid' : layout"
                [attr.data-with-features]="layout === 'grid-with-features' ? 'true' : 'false'">
                <div class="products-list__head">
                    <div class="products-list__column products-list__column--image">{{ 'TABLE_IMAGE' | translate }}</div>
                    <div class="products-list__column products-list__column--meta">{{ 'TABLE_SKU' | translate }}</div>
                    <div class="products-list__column products-list__column--product">{{ 'TABLE_PRODUCT' | translate }}</div>

                    <!--Show rating only if it's allowed in settings-->
                    <!--This will have to be connected to ecomm in the future-->
                    <div class="products-list__column products-list__column--rating" *ngIf="appSettings?.rating">{{ 'TABLE_RATING' | translate }}</div>

                    <div class="products-list__column products-list__column--price">{{ 'TABLE_PRICE' | translate }}</div>
                </div>

                <div class="products-list__content">
                    <div *ngFor="let product of (page.list$|async)?.items; trackBy: trackByProductId" class="products-list__item">
                        <app-product-card [product]="product"></app-product-card>
                    </div>
                </div>
            </div>

            <div class="products-view__pagination"  *ngIf="(isEmptyList$|async) === false">
                <nav aria-label="Page navigation example">
                    <app-pagination [formControl]="pageControl" [siblings]="2" [total]="page.pages"></app-pagination>
                </nav>
                <div class="products-view__pagination-legend">
                    {{ 'TEXT_SHOWING_PRODUCTS' | translate:{
                        from: page.from,
                        to: page.to,
                        total: page.total
                    } }}
                </div>
            </div>
        </ng-container>
    </div>
</div>
