<div class="card">
    <div class="card-header">
        <h5>{{ 'HEADER_CHANGE_PASSWORD' | translate }}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body card-body--padding--2">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6" [formGroup]="form">
                <div *ngIf="form.errors?.server" class="alert alert-sm alert-danger">
                    {{ form.errors?.server|translate }}
                </div>
                <div class="form-group">
                    <label for="password-current">{{ 'INPUT_PASSWORD_CURRENT_LABEL' | translate }}</label>
                    <input
                        type="password"
                        id="password-current"
                        formControlName="currentPassword"
                        class="form-control"
                        [class.is-invalid]="form.controls.currentPassword|isInvalid"
                        placeholder="********"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.currentPassword|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password-new">{{ 'INPUT_PASSWORD_NEW_LABEL' | translate }}</label>
                    <input
                        type="password"
                        id="password-new"
                        formControlName="password"
                        class="form-control"
                        [class.is-invalid]="form.controls.password|isInvalid"
                        placeholder="********"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.password|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED' | translate }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password-confirm">{{ 'INPUT_PASSWORD_REPEAT_LABEL' | translate }}</label>
                    <input
                        type="password"
                        id="password-confirm"
                        formControlName="confirmPassword"
                        class="form-control"
                        [class.is-invalid]="form.controls.confirmPassword|isInvalid"
                        placeholder="********"
                    >
                    <div class="invalid-feedback">
                        <div *ngIf="form.controls.confirmPassword|hasError:'required'">
                            {{ 'ERROR_FORM_REQUIRED' | translate }}
                        </div>
                        <div *ngIf="form.controls.confirmPassword|hasError:'mustMatch'">
                            {{ 'ERROR_FORM_PASSWORD_DOES_NOT_MATCH' | translate }}
                        </div>
                    </div>
                </div>

                <div class="form-group mb-0">
                    <button
                        class="btn btn-primary mt-3"
                        [class.btn-loading]="saveInProgress"
                        (click)="save()"
                    >{{ 'BUTTON_CHANGE' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
