// **********************************************
// Input radio label
.input-radio-label {
  $local-gutter: 8px;

  .input-radio-label__list {
    display: flex;
    flex-wrap: wrap;
    margin: -($local-gutter / 2);
  }

  .input-radio-label__item {
    margin: ($local-gutter / 2);
  }

  .input-radio-label__input {
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }

  .input-radio-label__title {
    display: flex;
    align-items: center;
    background: var(--white);
    min-height: 25px;
    border-radius: 6px;
    box-shadow: 0 1px 3px #C8CFE9;
    color: var(--text-primary);
    font-size: 13px;
    padding: 4px 10px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    transition: background .15s, color .15s;
    font-weight: $font-weight-normal;

    &:hover, &:active {
      color: var(--primary);
      background: rgba(var(--primary-rgb), 0.1);
      border-color: var(--primary-100);
    }
  }

  .input-radio-label__input:checked ~ .input-radio-label__title {
    color: var(--primary);
    background: rgba(var(--primary-rgb), 0.1);
    border-color: var(--primary-100);
  }

  .input-radio-label__input:disabled ~ .input-radio-label__title {
    opacity: 0.6;
    cursor: default;
  }

}
