<!--Spacer-->
<div class="nao-spacer-after-header"></div>

<div class="block">
    <div class="container container--max--lg">
        <div class="row">
            <div class="col-md-6 d-flex flex-column mx-auto">
                <div class="card flex-grow-1">
                    <div class="card-body card-body--padding--2">
                        <h3 class="card-title">{{ 'HEADER_LOGIN' | translate }}</h3>
                        <form [formGroup]="formGroup" #loginForm="ngForm" (submit)="login()">
                            <div *ngIf="formGroup.errors?.server" class="alert alert-sm alert-danger">
                                {{ formGroup.errors?.server|translate }}
                            </div>
                            <div class="form-group">
                                <label for="signin-email">{{ 'INPUT_EMAIL_ADDRESS_LABEL' | translate }}</label>
                                <input
                                    id="signin-email"
                                    type="email"
                                    class="form-control"
                                    [class.is-invalid]="formGroup.controls.email|isInvalid"
                                    placeholder="customer@example.com"
                                    formControlName="email"
                                >
                                <div class="invalid-feedback">
                                    <div *ngIf="formGroup.controls.email|hasError:'required'">
                                        {{ 'ERROR_FORM_REQUIRED' | translate }}
                                    </div>
                                    <div *ngIf="formGroup.controls.email|hasError:'email'">
                                        {{ 'ERROR_FORM_INCORRECT_EMAIL' | translate }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signin-password">{{ 'INPUT_PASSWORD_LABEL' | translate }}</label>
                                <input
                                    id="signin-password"
                                    type="password"
                                    class="form-control"
                                    [class.is-invalid]="formGroup.controls.password|isInvalid"
                                    placeholder="********"
                                    formControlName="password"
                                >
                                <div class="invalid-feedback">
                                    <div *ngIf="formGroup.controls.password|hasError:'required'">
                                        {{ 'ERROR_FORM_REQUIRED' | translate }}
                                    </div>
                                </div>
<!--                                <small class="form-text text-muted">-->
<!--                                    <a routerLink="/account/forgot-password">{{ 'LINK_FORGOT_PASSWORD' | translate }}</a>-->
<!--                                </small>-->
                            </div>
<!--                            <div class="form-group">-->
<!--                                <div class="form-check">-->
<!--                                    <app-checkbox-->
<!--                                        class="form-check-input"-->
<!--                                        formControlName="rememberMe"-->
<!--                                        #cbSignInRemember="appCheckbox"-->
<!--                                    ></app-checkbox>-->
<!--                                    <label class="form-check-label" [htmlFor]="cbSignInRemember.inputId">-->
<!--                                        {{ 'INPUT_REMEMBER_ME_LABEL' | translate }}-->
<!--                                    </label>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group mb-0">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    [class.btn-loading]="loginInProgress"
                                >
                                    {{ 'BUTTON_LOGIN' | translate }}
                                </button>
                            </div>

                            <div class="font-size-13 text-danger mt-3" [hidden]="!loginForm.submitted || !formGroup.get('password').pristine || loginInProgress">
                                {{ errorMessage | translate:errorMessageExtraData }}
                            </div>
                        </form>
                    </div>
                </div>

                <div class="mt-2">
                    <a routerLink="/account/register" class="create-an-account-link">{{ 'LINK_CREATE_ACCOUNT' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
