.brand {
    /* background-color: #ffffff; */
    // height: 100px;
    // margin-block: 20px !important;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.brand .img-fluid {
    max-width: 77%;
    height: auto;
}



/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    filter: gray;
    -webkit-filter: grayscale(100%);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.hvr-bob:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

  .brandlogo:nth-child(even)
  {
    padding-top: 50px;
  }
 
  .partners_container{
    margin: 0 auto;
  }