// **********************************************
// Styles

// **********************************************
// Base
@import 'variables';
@import 'functions';
@import 'mixins/direction';
@import 'mixins/breakpoints';
@import 'mixins/scheme';
@import 'mixins/card';
@import 'constants';

// **********************************************
// Common
@import 'common/animations';
@import 'common/base';
@import 'common/document';
@import 'common/grid';
@import 'common/header';
@import 'common/site';

// **********************************************
// Components
@import 'components/alert';
@import 'components/arrow';
@import 'components/avatar-icon';
@import 'components/breadcrumb';
@import 'components/btn';
@import 'components/button-toggle';
@import 'components/card';
@import 'components/card-table';
@import 'components/collapse-area';
@import 'components/container';
@import 'components/decor';
@import 'components/filters-button';
@import 'components/form';
@import 'components/form-control';
@import 'components/image';
@import 'components/input-check';
@import 'components/input-check-color';
@import 'components/input-number';
@import 'components/input-radio';
@import 'components/input-radio-color';
@import 'components/input-radio-label';
@import 'components/layout-switcher';
@import 'components/loading-bar';
@import 'components/modal';
@import 'components/ngx-slider';
@import 'components/ngx-toastr';
@import 'components/nouislider';
@import 'components/owl-prevent-click';
@import 'components/pagination';
@import 'components/rating';
@import 'components/section-header';
@import 'components/select2';
@import 'components/share-links';
@import 'components/shop-features';
@import 'components/sidebar';
@import 'components/social-links';
@import 'components/status-badge';
@import 'components/tag-badge';
@import 'components/tags';
@import 'components/teammate';
@import 'components/timer';
@import 'components/tooltip';
@import 'components/typography';
@import 'components/view-options';
@import 'components/widget';

// **********************************************
// Filters
@import 'filters/filter';
@import 'filters/filter-category';
@import 'filters/filter-color';
@import 'filters/filter-list';
@import 'filters/filter-range';
@import 'filters/filter-rating';

// **********************************************
// Layout
@import 'layout/header';
@import 'layout/mobile-header';
@import 'layout/footer';

// **********************************************
// Pages
@import 'pages/about';
@import 'pages/account';
@import 'pages/contacts';
@import 'pages/faq';
@import 'pages/error';

// **********************************************
// Blocks
@import 'blocks/block-brands';
@import 'blocks/block-empty';
@import 'blocks/block-features';
@import 'blocks/block-header';
@import 'blocks/block-products-carousel';
@import 'blocks/block-slideshow';
@import 'blocks/block-space';
@import 'blocks/block-split';

// **********************************************
// Widgets
@import 'widgets/widget-filters';
@import 'widgets/widget-products';

// **********************************************
// Shop
@import 'shop/analogs-table';
@import 'shop/applied-filters';
@import 'shop/cart';
@import 'shop/cart-table';
@import 'shop/categories-list';
@import 'shop/category-card';
@import 'shop/checkout';
@import 'shop/compare';
@import 'shop/compare-table';
@import 'shop/order-header';
@import 'shop/order-list';
@import 'shop/order-success';
@import 'shop/payment-methods';
@import 'shop/product';
@import 'shop/product-card';
@import 'shop/product-form';
@import 'shop/product-gallery';
@import 'shop/product-tabs';
@import 'shop/products-list';
@import 'shop/products-view';
@import 'shop/quickview';
@import 'shop/review';
@import 'shop/reviews-list';
@import 'shop/reviews-view';
@import 'shop/spec';
@import 'shop/my-list';

// *****************************************************
// Scrollbars
.nao-fancy-scrollbar-sm {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-track-piece {
        background: rgba(9, 30, 66, .08);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(9, 30, 66, .2);
        border-radius: 4px;
    }
}


.create-an-account-link {
    margin-left: 32px;
    color: #6c757d;
    transition: color 0.1s;

    &:hover {
        color: inherit;
    }

    @include media-breakpoint-down(xs) {
        margin-left: 24px;
    }
}

.font-size-13 {
    font-size: 13px;
}

// disable buttons
button.disabled, button:disabled {
    opacity: 0.65;
}

// message text
.message-text-not-logged {
    font-size: 11px;
    font-weight: 500;
    color: #6c7177;
    margin-top: 10px;
}
