/*
// .product-variants
*/


.product-form {
    display: block;
}
.product-form__row {
    & + & {
        margin-top: 24px;
    }
}
.product-form__title {
    font-size: 14px;
    line-height: 18px;
    color: var(--text-4);
    margin-bottom: 8px;
}
