/*
// .product
*/
@import '../mixins/card';
@import '../mixins/loader';


// **********************************************
// Product individual page
.nao-product-individual-card__main {
  background: var(--product-card-bg);
  border-radius: 5px;
  border: 1px solid var(--border-1);
  box-shadow: var(--box-shadow-1);

  .nao-card-content {
    padding: 24px 24px 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .gallery-container {
      padding: 16px 16px 24px 16px;

      .product-gallery__featured .image {
        max-width: 500px;
      }
    }

    .card__product-name {
      font-size: 28px;
      font-weight: $font-weight-bold;
      position: relative;
      margin-bottom: 12px;

      &::before {
        box-sizing: border-box;
        content: '';
        display: block;
        position: absolute;
        left: -17px;
        height: 30px;
        top: 0px;
        border-left: 1px solid var(--primary);
      }
    }

    .card__product-description {
      font-size: 12px;
      color: var(--text-2);
      line-height: 18px;
      margin-bottom: 24px;
    }

    .card__product-variants {
      margin-top: 24px;
    }

    .product-meta__label {
      font-size: 14px;
      line-height: 18px;
      color: var(--text-4);
      margin-bottom: 4px;
    }

    .product-meta__value {
      font-size: 16px;
      line-height: 18px;
      color: var(--text-2);
      font-weight: $font-weight-medium;
    }

    .product__content {
      border-left: 1px solid var(--separator);
      padding-left: 16px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
    }

    .card__product-actions {
      padding-top: 12px;
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .card__product-prices-stock {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 12px;
        font-size: 28px;
        font-weight: $font-weight-medium;
        color: var(--text-primary);

        &::before {
          box-sizing: border-box;
          content: '';
          display: block;
          position: absolute;
          left: -17px;
          height: 30px;
          top: 0;
          border-left: 1px solid var(--primary);
        }
      }
    }

    .card__product-actions-controls {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr !important;
    }

    @media (max-width: 474px) {
      .card__product-actions-controls {
        margin-left: unset;
        flex-grow: 1;
        margin-top: 12px;
      }
    }
  }

  .nao-card-footer {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid var(--separator);
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// **********************************************
// Nao cards
.nao-card-1 {
  padding: 24px;
  background: var(--product-card-bg);
  border-radius: 5px;
  border: 1px solid var(--border-1);
  box-shadow: var(--box-shadow-1);

  .nao-card-header {
    font-size: 18px;
    font-weight: $font-weight-medium;
    color: var(--text-primary);
    letter-spacing: 0.51px;
    margin-bottom: 24px;
  }

  .nao-card-content {
    font-size: 16px;
    color: var(--text-2);
    line-height: 23px;
  }

  .nao-card-table {
    width: 100%;

    thead {
      font-size: 16px;
      line-height: 18px;
      color: var(--text-4);
      font-weight: $font-weight-medium;

      th {
        padding-bottom: 12px;
      }
    }

    tbody {
      .nao-card-table__name {
        font-size: 14px;
        line-height: 18px;
        color: var(--text-4);
      }

      .nao-card-table__value {
        font-size: 16px;
        line-height: 18px;
        color: var(--text-2);
      }

      td {
        padding: 12px 0;
        border-top: 1px solid #E6EBF0;
      }
    }
  }
}
