/*
// .product-gallery
*/


.product-gallery {
}

.owl-carousel {
  z-index: unset !important;
}

.product-gallery__featured {
  position: relative;

  .owl-carousel {
    a {
      display: block;
    }
  }

  .image {
    max-width: 500px;
    margin: 0 auto;
  }
}

.product-gallery__zoom {
  $local-padding: 9px;
  $local-icon-size: 24px;

  display: var(--product-gallery-zoom-display, block);
  top: 0;
  position: absolute;
  padding: $local-padding;
  margin: 0;
  border: none;
  border-radius: ($local-padding + $local-icon-size / 2);
  fill: currentColor;
  z-index: 2;
  transition: background .15s,
  color .15s;

  @include define-button-scheme($btn-muted-light-scheme);
  @include direction {
    #{$inset-inline-end}: -($local-padding + $local-icon-size / 2);
  }

  &:focus {
    outline: none;
  }

  svg {
    display: block;
  }
}

.product-gallery__thumbnails {
  padding-top: 8px;

  .owl-stage {
    margin: 0 auto;
  }
}

.product-gallery__thumbnails-item {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: var(--box-shadow-1);
  border: 1px solid #E9EEF9;
  height: 100px;
  width: 100px;

  &:hover {
    border-color: var(--primary);
  }
}

.product-gallery__thumbnails-item--active {
  cursor: default;
  border-color: var(--primary);

  &:hover {
    border-color: var(--primary);
  }
}


.product-gallery--layout--quickview {
  .product-gallery__featured .image {
    width: 500px;
    max-width: 100%;
  }

  .product-gallery__zoom {
    display: none;
  }
}


.product-gallery--layout--product-sidebar {
  .product-gallery__featured .image {
    max-width: var(--product-gallery-image-max-width, 100%);
  }
}


.product-gallery--layout--product-full {
  .product-gallery__featured .image {
    max-width: var(--product-gallery-image-max-width, 100%);
  }

  .product-gallery__zoom {
    top: 0;

    @include direction {
      #{$inset-inline-end}: 0;
    }
  }
}
