// **********************************************
// QuickView
.quickview {
  max-width: 1060px;

  .modal-content {
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    border: 1px solid var(--border-1);
    background: var(--product-card-bg);
  }

  .quickview__body {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .quickview__gallery-container {
    padding: 16px 16px 0 16px;
  }

  .quickview__close {
    z-index: 2;
    position: absolute;
    width: 21px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
    top: 24px;
    right: 24px;
    border-radius: 6px;
    background: var(--bg-4);
    transition: background .2s, color .2s;
    box-shadow: 0 1px 3px var(--shadow-1);


    svg {
      display: block;
    }

    &:active {
      transition-duration: 0s;
    }

    &:focus {
      outline: none;
    }

  }
}

.quickview__gallery {
  width: 500px;
}

.quickview__product {
  border-left: 1px solid var(--separator);
  padding-left: 14px;
  display: flex;
  flex-direction: column;

  .quickview__product-name {
    font-size: 28px;
    font-weight: $font-weight-bold;
    position: relative;
    padding-right: 21px;
    margin-bottom: 12px;

    &::before {
      box-sizing: border-box;
      content: '';
      display: block;
      position: absolute;
      left: -15px;
      height: 30px;
      top: 0px;
      border-left: 1px solid var(--primary);
    }
  }

  .quickview__product-meta {
    margin-bottom: 24px;

    .product-meta__label {
      font-size: 14px;
      line-height: 18px;
      color: var(--text-4);
      margin-bottom: 4px;
    }

    .product-meta__value {
      font-size: 16px;
      line-height: 18px;
      color: var(--text-2);
      font-weight: $font-weight-medium;
    }
  }

  .quickview__product-prices-stock {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 12px;
    font-size: 28px;
    font-weight: $font-weight-medium;
    color: var(--text-primary);

    &::before {
      box-sizing: border-box;
      content: '';
      display: block;
      position: absolute;
      left: -15px;
      height: 30px;
      top: 0;
      border-left: 1px solid var(--primary);
    }
  }


  .quickview__product-stock {
    margin-bottom: 2px;

    @include direction {
      #{$margin-inline-start}: 12px;
    }
  }

  .quickview__product-form {
    margin-bottom: 24px;
    display: block;
  }

  .quickview__product-actions {
    padding-top: 12px;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .product-actions-controls {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}



.quickview__footer {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid var(--separator);
  color: map_get($card-scheme, opposite-alt);
  font-size: 15px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@include media-breakpoint-down(md) {
  .quickview {
    max-width: 100%;
    margin: 0 !important;
  }

  .modal-content {
    border-radius: unset !important;
    border: unset !important;
  }

  .quickview__body {
    grid-template-columns: 1fr !important;
  }

  .quickview__gallery {
    width: 100%;
    margin-bottom: 24px;
  }
}

@include media-breakpoint-down(xs) {
  .quickview {
    max-width: 100%;
  }
}

@media (max-width: 474px) {
  .quickview__body {
    padding: 24px;
  }

  .product-actions-controls {
    margin-left: unset;
    flex-grow: 1;
    margin-top: 12px;
  }
}
