<div class="nao-header-container">
  <!--Header-->
  <div class="nao-header">
    <app-logo class="nao-header-logo"></app-logo>
    <app-search class="nao-header-search"></app-search>

    <div class="d-flex align-items-center">
      <!--My list indicator-->
      <app-indicator
        *showIfLoggedIn
        class="nao-ml-8"
        type="my-list"
      ></app-indicator>

      <!--Cart indicator-->
      <app-indicator
        *showIfLoggedIn
        type="cart"
        class="nao-ml-8"
        #cartIndicator="indicator"
      >
        <app-dropcart (closeMenu)="cartIndicator.close()"></app-dropcart>
      </app-indicator>

      <!--Account/log in indicator-->
      <app-indicator
        type="account"
        class="nao-ml-8"
        #accountIndicator="indicator"
      >
        <app-account-menu (closeMenu)="accountIndicator.close()"></app-account-menu>
      </app-indicator>
    </div>
  </div>



  <!--Categories-->
  <div class="header__navbar">
    <div class="header__navbar-departments">
      <!--Iterate: over top buttons-->
      <app-header-menu-individual-category
        *ngFor="let item of featuredCategories"
        [item]="item"
      ></app-header-menu-individual-category>


      <!--More menu-->
      <app-header-menu-all-categories
        [items]="allCategories"
        [label]="'BUTTON_MORE' | translate"
      ></app-header-menu-all-categories>
    </div>
  </div>

</div>
