.news-letter h1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--theme-ui-colors-heading, #2d3748);
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 3.25rem;
}

.news-letter p {
    color: var(#2d3748);
    font-family: var(--font-family);
    margin-top: 10px;
}

.news-letter i {
    position: absolute;
    left: 25px;
    z-index: 1;
    top: 49px;
}

.news-letter input {
    width: 100%;
    padding-block: 13px;
    padding-inline: 50px;
    margin-top: 32px;
    border-radius: 3px;
    border: 1px solid rgb(226, 226, 226);
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.news-letter a {
    position: absolute;
    right: 0px;
    z-index: 1;
    height: 62%;
    background-color: #fd7e14;
    color: white;
    font-family: var(--font-family);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    border: 1px solid #fd7e14;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}