@import '../variables';
@import '../mixins/status-badge';
@import '../mixins/card';
@import '../mixins/direction';
@import '../mixins/breakpoints';
@import '../mixins/loader';
@import '../mixins/tag-badge';
@import '../mixins/scheme';

@mixin product-card-base() {
  display: block;

  // todo: this should be on mobile too
  &:hover {
    background-color: var(--product-card-bg);
    border: 1px solid var(--border-1);
    box-shadow: var(--box-shadow-1);
  }


  .product-card__action {
    position: relative;
    display: block;
    padding: 8px;
    margin: 0;
    border: none;
    transition: color .08s,
    background .08s;

    @include define-button-scheme($btn-muted-scheme);

    svg {
      fill: currentColor;
      display: block;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transition-duration: 0s;
    }

    &:last-child {
      @include direction {
        #{$border-end-start-radius}: 2px;
      }
    }
  }
  .product-card__action--loading {
    &,
    &:hover {
      cursor: default;
      background: transparent;
      color: transparent;
      transition-duration: 0s;
    }

    &:before {
      @include loader(16px, 2px, map_get($btn-muted-scheme, loader-color));
    }
  }
  .product-card__image {
    display: block;
  }
  .product-card__rating {
    color: map_get($card-scheme, opposite-alt);
    font-size: .8125rem;
  }
  .product-card__features {
    color: map_get($card-scheme, opposite-alt);
    font-size: 13px;
    line-height: 21px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      position: relative;

      @include direction {
        #{$padding-inline-start}: 12px;
      }

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        border-radius: 1.5px;
        background: currentColor;
        top: 9px;
        opacity: .7;

        @include direction {
          #{$inset-inline-start}: 3px;
        }
      }
    }
  }
  .product-card__name {
    a {
      color: inherit;
    }

    a:hover {
      text-decoration: none;
    }
  }
  .product-card__meta {
    font-size: 12px;
    line-height: 1;
    color: map_get($card-scheme, muted);
  }
  .product-card__prices {
    font-weight: $font-weight-medium;
    letter-spacing: -.04em;
    line-height: 1;
    color: $price-color;
  }
  .product-card__price--new {
    color: $price-new-color;
  }
  .product-card__price--old {
    font-weight: $font-weight-normal;
    text-decoration: line-through;
    color: $price-old-color;
  }
  .product-card__addtocart-full {
    position: relative;
    background: map_get($btn-primary-scheme, normal-bg-color);
    color: map_get($btn-primary-scheme, normal-font-color);
    border: none;
    border-radius: 2px;
    font-weight: $font-weight-medium;
    transition: background-color .15s,
    color .15s;

    &:focus {
      outline: none;
    }

    &:hover {
      background: map_get($btn-primary-scheme, hover-bg-color);
      color: map_get($btn-primary-scheme, hover-font-color);
    }

    &:active {
      background: map_get($btn-primary-scheme, active-bg-color);
      color: map_get($btn-primary-scheme, active-font-color);
    }

    &.product-card__addtocart-full--loading {
      background: map_get($btn-primary-scheme, normal-bg-color);
      color: transparent;
      cursor: default;

      &:after {
        @include loader(22px, 2px, map_get($btn-primary-scheme, normal-font-color));
      }
    }
  }
  .product-card__my-lists,
  .product-card__compare {
    position: relative;
    border: none;
    background: map_get($my-lists-button-scheme, normal-bg-color);
    color: map_get($my-lists-button-scheme, normal-font-color);
    fill: map_get($my-lists-button-scheme, normal-icon-color);
    border-radius: 2px;
    transition: background .15s,
    fill .15s;

    &:focus {
      outline: none;
    }

    &:hover {
      background: map_get($my-lists-button-scheme, hover-bg-color);
      fill: map_get($my-lists-button-scheme, hover-icon-color);
    }

    &:active {
      background: map_get($my-lists-button-scheme, active-bg-color);
      fill: map_get($my-lists-button-scheme, active-icon-color);
    }
  }
  .product-card__my-lists.product-card__my-lists--loading,
  .product-card__compare.product-card__compare--loading {
    background: map_get($my-lists-button-scheme, normal-bg-color);
    fill: transparent;
    cursor: default;
  }
  .product-card__my-lists--loading,
  .product-card__compare--loading {
    &:after {
      @include loader(16px, 2px, map_get($btn-muted-scheme, loader-color));
    }
  }
  .product-card__addtocart-icon {
    position: relative;
    border: none;
    padding: 8px;
    border-radius: 2px;
    background: transparent;
    color: map_get($addtocart-button-scheme, default-font-color);
    z-index: 0;
    transition: color .2s;

    svg {
      display: block;
      fill: currentColor;
    }

    &:before {
      $local-expand: 4px;

      top: -($local-expand / 2);
      left: -($local-expand / 2);
      display: block;
      content: '';
      position: absolute;
      width: calc(100% + #{$local-expand});
      height: calc(100% + #{$local-expand});
      background: map_get($addtocart-button-scheme, default-bg-color);
      z-index: -1;
      border-radius: 50%;
      transform: scale(0);
      transition: transform .2s,
      background .2s;
    }

    &:focus {
      outline: none;
    }
  }
  &:hover,
  &:active {
    .product-card__addtocart-icon {
      color: map_get($addtocart-button-scheme, normal-font-color);

      &:before {
        transform: scale(1);
        background: map_get($addtocart-button-scheme, normal-bg-color);
      }

      &:hover {
        color: map_get($addtocart-button-scheme, hover-font-color);

        &:before {
          background: map_get($addtocart-button-scheme, hover-bg-color);
        }
      }

      &:active {
        color: map_get($addtocart-button-scheme, active-font-color);

        &:before {
          transition-duration: .05s;
          background: map_get($addtocart-button-scheme, active-bg-color);
        }
      }
    }
  }

  .product-card__addtocart-icon--loading {
    cursor: default;

    &:after {
      @include loader(22px, 2px, map_get($addtocart-button-scheme, normal-font-color));
    }
  }
  &,
  &:hover,
  &:active {
    .product-card__addtocart-icon--loading {
      &,
      &:hover,
      &:active {
        color: transparent;

        &:before {
          transform: scale(1);
          background: map_get($addtocart-button-scheme, normal-bg-color);
        }
      }
    }
  }
}


@mixin product-card-grid-base() {
  .product-card__addtocart-full,
  .product-card__my-lists,
  .product-card__compare {
    display: none;
  }

  $local-padding: 16px;
  $local-actions-transition-duration: .2s;
  $local-actions-transition-delay: .05s;

  display: flex;
  flex-direction: column;
  position: relative;
  //
  //&:after {
  //  display: block;
  //  position: static;
  //  content: '';
  //  order: 1;
  //  flex-grow: 1;
  //}

  .product-card__badges {
    position: absolute;
    top: $local-padding;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;

    @include direction {
      #{$inset-inline-start}: $local-padding;
    }

    & > :not(:first-child) {
      margin-top: 3px;
    }
  }
  .product-card__actions-list {
    position: absolute;
    z-index: 1;

    @include direction {
      #{$inset-inline-end}: 0;
    }
  }
  .product-card__image {
    display: block;
    position: relative;
  }
  .product-card__fit {
    position: absolute;
    bottom: 8px;

    @include status-badge-hide-text;

    @include direction {
      #{$inset-inline-start}: calc(#{$local-padding} - 3px);
    }
  }
  .product-card__meta {
    padding: 6px $local-padding;
  }
  .product-card__name {
    padding: 0 $local-padding;
    line-height: 1.1875;
  }
  .product-card__rating {
    margin: -3px 0 -2px 0;
    padding: 8px $local-padding 0;
    display: flex;
    flex-wrap: wrap;
  }
  .product-card__rating-stars,
  .product-card__rating-label {
    margin: 3px 0 2px 0;
  }
  .product-card__rating-stars {
    @include direction {
      #{$margin-inline-end}: 7px;
    }
  }
  .product-card__rating-label {
    line-height: 1;
  }
  .product-card__features {
    padding: 10px $local-padding 0;
    margin-bottom: -2px;
    display: none;
  }
  .product-card__footer {
    padding: $local-padding;
    align-items: center;
    display: flex;
    order: 2;
  }
  .product-card__prices {
    flex-grow: 1;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .product-card__price--old {
    font-size: 14px;

    @include direction {
      #{$margin-inline-start}: 6px;
    }
  }
  .product-card__addtocart-icon {
    margin: -3px;
  }

  @media (hover: hover) {
    .product-card__action--my-lists,
    .product-card__action--compare {
      transition: transform $local-actions-transition-duration,
      opacity $local-actions-transition-duration,
      color .12s,
      background .12s;
      opacity: 0;
      will-change: transform;

      @include direction {
        transform: translateX(#{100% * $transform-direction}) translateX(6px);
      }
    }

    &:hover,
    &:active {
      .product-card__action--my-lists,
      .product-card__action--compare {
        transform: none;
        opacity: 1;
      }
    }
  }
}


@mixin product-card-horizontal-base() {
  .product-card__action--my-lists,
  .product-card__action--compare,
  .product-card__features,
  .product-card__addtocart-icon,
  .product-card__addtocart-full,
  .product-card__my-lists,
  .product-card__compare,
  .product-card__meta,
  .product-card__fit {
    display: none;
  }

  $local-image-width: 112px;

  position: relative;
  display: flex;

  .product-card__image {
    padding: 8px 10px;
    width: $local-image-width;
    flex-shrink: 0;
  }
  .product-card__badges {
    position: absolute;
    top: 10px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: flex-start;

    @include direction {
      #{$inset-inline-start}: 10px;
    }

    & > :not(:first-child) {
      margin-top: 3px;
    }
  }

  .tag-badge {
    @include tag-badge-size(16px, 5px, -20deg);
  }

  .product-card__actions-list {
    position: absolute;

    @include direction {
      #{$inset-inline-end}: 0;
    }
  }
  .product-card__info {
    padding-top: 12px;
    padding-bottom: (16px + 14px + 10px);

    @include direction {
      #{$padding-inline-end}: 10px;
    }
  }
  .product-card__name {
    font-size: 15px;
    line-height: 18px;
    max-height: (18px * 2);
    overflow: hidden;

    @include direction {
      #{$padding-inline-end}: 26px;
    }
  }
  .product-card__rating {
    margin: -3px 0 -2px 0;
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
  }
  .product-card__rating-stars,
  .product-card__rating-label {
    margin: 3px 0 2px 0;
  }
  .product-card__rating-stars {
    @include direction {
      #{$margin-inline-end}: 7px;
    }
  }
  .product-card__rating-label {
    line-height: 1;
  }

  .product-card__prices {
    position: absolute;
    bottom: 14px;
    flex-grow: 1;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    @include direction {
      #{$inset-inline-start}: $local-image-width;
    }
  }
  .product-card__price--old {
    font-size: 14px;

    @include direction {
      #{$margin-inline-start}: 6px;
    }
  }
}
