<ng-container *ngIf="!(myListsService.myLists|async)?.length">
    <app-block-header
        [breadcrumb]="[
            {label: 'LINK_HOME' | translate, url: '/'},
            {label: 'LINK_MY_LISTS' | translate, url: ''}
        ]"
    ></app-block-header>

    <div class="block-empty">
        <div class="container">
            <div class="block-empty__body">
                <h1 class="block-empty__title">{{ 'HEADER_MY_LISTS_EMPTY_TITLE' | translate }}</h1>
                <div
                    class="block-empty__message"
                    [innerHTML]="'HEADER_MY_LISTS_EMPTY_SUBTITLE' | translate">
                </div>
                <div class="block-empty__action">
                    <a routerLink="/" class="btn btn-primary btn-sm">{{ 'BUTTON_GO_TO_HOMEPAGE' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="(myListsService.myLists|async)?.length">
    <app-block-header
        [pageTitle]="'HEADER_MY_LISTS' | translate"
        [breadcrumb]="[
            {label: 'LINK_HOME' | translate, url: '/'},
            {label: 'LINK_MY_LISTS' | translate, url: ''}
        ]"
    ></app-block-header>

    <div class="block">
        <div class="container container--max--xl">
            <div class='my-list'>
                <table class='my-list__table'>
                    <thead class='my-list__head'>
                    <tr class='my-list__row my-list__row--head'>
                        <th class='my-list__column my-list__column--head my-list__column--image'>{{ 'TABLE_NAME' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody class='my-list__body'>
                    <tr *ngFor="let myListItem of myListsService.myLists|async" class='my-list__row my-list__row--body'>
                        <td class='my-list__column my-list__column--body'>
                            <div class='my-list__list-name'>
                                <a [routerLink]="url.myList(myListItem?._id)">{{ myListItem?.data?.name }}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
