<!--Loading-->
<nao-loading *ngIf="refreshInProgress"></nao-loading>

<!--Content-->
<div class="page-my-lists-content-wrapper" *ngIf="!refreshInProgress">
    <app-block-header
        [breadcrumb]="[
                {label: 'LINK_HOME' | translate, url: '/'},
                {label: 'LINK_MY_LISTS' | translate, url: ''}
            ]"
    ></app-block-header>

    <!--Spacer-->
    <div class="nao-spacer-after-header"></div>

    <!--Empty state-->
    <ng-container *ngIf="!(myListsService.myLists|async)?.length">
        <div class="block-empty">
            <div class="container">
                <div class="block-empty__body">
                    <h1 class="block-empty__title">{{ 'HEADER_MY_LISTS_EMPTY_TITLE' | translate }}</h1>
                    <div
                        class="block-empty__message"
                        [innerHTML]="'HEADER_MY_LISTS_EMPTY_SUBTITLE' | translate">
                    </div>
                    <div class="block-empty__action">
                        <a (click)="onCreateMyList()" href="javascript:void(0)" class="btn btn-primary btn-sm">{{ 'BUTTON_CREATE_LIST' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!--Content state-->
    <div class="container" *ngIf="(myListsService.myLists|async)?.length">



        <div class="document__header d-flex align-items-center">
            <h1 class="document__title mr-4">{{ 'LIST_OVERVIEW' | translate }}</h1>
            <button class="btn btn-primary" (click)="onCreateMyList()">{{ 'BUTTON_CREATE_LIST' | translate }}</button>
        </div>


        <div class="card my-lists">
            <div class="card-divider"></div>
            <!--Table view-->
            <div class="card-table">
                <div class="table-responsive-sm">
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'TABLE_NAME' | translate }}</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let myListItem of myListsService.myLists|async; let index = index">
                                <td>
                                    <div>
                                        <a [routerLink]="url.myList(myListItem._id)">{{ myListItem.data?.name }}</a>
                                    </div>
                                </td>
                                <td class="my-list__column--button">
                                    <a (click)="onEditMyList(myListItem)" href="javascript:void(0)" class="btn btn-primary btn-sm">{{ 'BUTTON_EDIT' | translate }}</a>
                                </td>
                                <td class="my-list__column--remove">
                                    <a (click)="onDeleteMyList(myListItem._id, index)" href="javascript:void(0)" class="btn btn-primary btn-sm">{{ 'BUTTON_DELETE' | translate }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!--Spacer-->
    <div class="nao-spacer-before-footer"></div>
</div>
