.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.supet-top-nav-button i {
    color: #fd7e14  !important;
}

.header-email {
    width: 100%;
    position: relative;
}
.header-email input {
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
    padding-block: 6px;
    padding-inline: 20px;
    border-radius: 50px;
}

.header-email .drop-button-header:hover {
    position: absolute;
    right: 0px;
    z-index: 1;
    text-decoration: none;
    height: 100%;
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.header-email .drop-button-header {
    position: absolute;
    right: 0px;
    z-index: 1;
    text-decoration: none;
    height: 100%;
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-inline: 10px;
    transition: all .3s ease-in-out;
}

.navbar .anchor-right-nav {
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    margin-inline: 10px;
    transition: all .3s ease-in-out;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .p-0 {
    padding: 0 !important;
  }
  
  .w-100 {
    width: 100% !important;
  }


  /* super-top-nav============================================================= */
.super-top-nav {
    border-bottom: 1px solid #ebebeb;
  }
  
  .super-top-nav p {
    color: #77849a;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    //margin-bottom: 1rem;
    padding: 10px 0px 5px 0px;
  }
  
  .super-top-nav span {
    color: #fd7e14 !important;
  }
  
  .super-top-nav i {
    color: black;
    margin-inline: 5px;
  }
  
  .supet-top-nav-button a {
    color: black;
    font-family: var(--font-family);
    margin-inline: 8px;
  }
  
.supet-top-nav-button a:hover {
  color: black;
  font-family: var(--font-family);
  margin-inline: 8px;
}
  
  .supet-top-nav-button i {
    color: #fd7e14;
  }
  
  .navbar img {
    height: 100%;
    width: 200px;
  }
  
  /* super-top-nav============================================================= */
  
  /* header===================================================================== */
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 22px 0px;
  }
  
  .navbar-sticky {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .left-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
  }
  
  #navbar .anchor-right-nav {
    color: #000000;
    font-weight: 600;
    font-size: 17px;
    margin-inline: 10px;
    transition: all .3s ease-in-out;
  }
  
  #navbar .anchor-right-nav:hover {
    color: #fd7e14;
    font-weight: 600;
    font-size: 17px;
    margin-inline: 10px;
  }
  
  #navbar .Button {
    background-color: #000000;
    padding-block: 8px;
    font-family: var(--font-family);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    padding-inline: 15px;
    transition: 0.1s ease-out;
  }
  
  #navbar .Button:hover {
    background-color: #fd7e14;
    padding-block: 10px;
    font-family: var(--font-family);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    padding-inline: 24px;
  }
  
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 25px rgb(140 152 164 / 25%);
    z-index: 99;
  }
  
  .fixed .navbar-expand-lg {
    transition: 0.4s all;
    padding-block: 12px !important;
  }
  
  .cart-div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sticky {
    position: fixed;
    top: 1px;
    width: 100%;
  }

//   /* header===================================================================== */
#orange:hover {
    color: #fd7e14;
    font-weight: 600;
    font-size: 17px;
    margin-inline: 10px;
  }

.marginRemove{
  margin-top: -10px;
}

  /*//////////////////////////////////////////////////////////////////
[ login ]*/


.mainnav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: transparent;
  position: relative;
}

.mainnav li {
display: inline-block;
position: relative;
}

.mainnav a {
text-decoration: none;
padding: 15px 30px 5px 15px;
display: block;
position: relative;
color: black;
font-family: var(--font-family);
margin-inline: 8px;
}

.on>a,
.mainnav li:hover>a {
background: transparent;
color: #fd7e14;
cursor: pointer;
}

.mainnav ul ul {
position: absolute;
top: 100%;
min-width: 200px;
background: #ffffff;
border: 1px solid #fd7e14;
z-index: 999999;
border-radius: 25px;
display: none;
}

.mainnav ul ul ul {
left: 100%;
top: 0;
}

.mainnav ul ul li {
display: block;
background: transparent
}

.mainnav ul ul ul li {
background: #eee;
}

/* lets not confuse click with hover for now
.mainnav ul li:hover ul {
display: block;
}
*/
.mainnav li i {
  color: #fd7e14;
  margin-top: 3px;
  float: left;
  padding-left: 0;
}

.mainnav div {
background: lightgrey;
color: #292929;
font-size: 24px;
padding: 0.6em;
cursor: pointer;
display: none;
}

.hasDD>a:after {
content: "";
position: absolute;
right: 10px;
top: 61%;
margin-top: -3px;
width: 0;
height: 0;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 6px solid #000;
transition: all 0.5s linear;
cursor: pointer;
}

.mainnav li:hover>a:after {
border-top-color: red;
}

.hasDD.on>a:after {
transform: rotate(180deg);
}

.mainnav ul ul .hasDD.on>a:after {
transform: rotate(-90deg);
}

.dd-lc {
border-top:1px solid #e4e4e4
}

.mainnav .dd-lc a {
padding: 12px 30px 12px 15px;
}

@media (min-width: 768px) {

/* over-ride js inline style*/
.mainnav>ul {
display: block !important;
}
}

@media (max-width: 768px) {
.mainnav div {
display: block;
}

.mainnav ul {
display: none;
position: static;
/*background: #e3e3e3;*/
}

.mainnav ul li {
display: block;
}

.mainnav ul ul {
position: static;
background: #e3e3e3;
}

.mainnav ul ul .hasDD.on>a:after {
transform: rotate(-180deg);
}

.hasDD,
.hasDD.on {
transition: border 0.5s ease;
}

.mainnav li.hasDD.on {
border-left: 10px solid #666;
}

.mainnav ul ul li.hasDD.on {
border-color: #aaa;
}

.mainnav ul ul ul li.hasDD.on {
border-color: #ccc;
}
}
  /*//////////////////////////////////////////////////////////////////
[ login END ]*/

@media screen and (max-width: 500px) {
  .justify-content-between {
    float: none;
    display: none;
  }
}