<!--Spacer-->
<div class="nao-spacer-before-block-header"></div>

<app-block-header [pageTitle]="product?.data?.name || ''" [breadcrumb]="(breadcrumb$|async) || []"></app-block-header>
<div class="nao-spacer-nl"></div>
<!--Loader-->
<!--TODO: check a loading -->
<nao-loading *ngIf="!product"></nao-loading>

<!-- Product Detail Section -->
<div class="block-split" *ngIf="product">
    <div class="pro-det-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 right-bdr">
                    <div class="row">
                        <div class="col-md-5">
                            <app-product-gallery class=""
                                [images]="(product?.data?.variants[variantIndex]?.images?.length ? product?.data?.variants[variantIndex]?.images : product?.data?.images) || []"
                                layout="product-full"></app-product-gallery>
                        </div>
                        <div class="col-md-7">
                            <div class="pdm-hd">
                                <h3>{{ product.data?.name }}</h3>
                            </div>
                            <div class="product__subtitle">
                                <!--Show rating only if it's allowed in settings-->
                                <!--This will have to be connected to ecomm in the future-->
                                <div class="product__rating" *ngIf="appSettings?.rating">
                                    <div class="product__rating-stars">
                                        <app-rating [value]="product?.data?.rating || 0"></app-rating>
                                    </div>
                                    <div class="product__rating-label">
                                        <a routerLink="./" fragment="product-tab-reviews" (click)="scrollToTabs()">
                                            {{ 'TEXT_RATING_LABEL' | translate:{rating: product?.data?.rating, reviews:
                                            product?.data?.reviews} }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="pdm-sk">
                                <div class="pdm-sk1">
                                    <h4>{{ 'TABLE_SKU' | translate }}</h4>
                                    <p>{{ product?.data?.variants[variantIndex]?.sku || product.data?.sku }}</p>
                                </div>
                                <div *ngIf="product?.data?.variants[variantIndex]?.countryOfOrigin" class="pdm-sk2">
                                    <h4>{{ 'TABLE_COUNTRY' | translate }}</h4>
                                    <p>{{ product.data.variants[variantIndex].countryOfOrigin }}</p>
                                </div>
                                <div class="pdm-sk3">
                                    <h4>{{ 'TABLE_PART_NUMBER' | translate }}</h4>
                                    <p>{{ product?.data?.variants[variantIndex]?.manufacturerItemCode }}</p>
                                </div>
                                <div *ngIf="product?.data?.manufacturer?.data?.name" class="pdm-sk4">
                                    <h4>{{ 'TABLE_BRAND' | translate }}</h4>
                                    <p>{{ product?.data?.manufacturer.data.name }}</p>
                                </div>
                            </div>
                            <div class="pdm-pro-det">
                                <div class="product__main">
                                    <div class="product__excerpt">{{ product.data?.shortDescription ||
                                        product.data?.description }}</div>

                                    <div class="product__features" *ngIf="featuredAttributes.length > 0">
                                        <div class="product__features-title">{{ 'TEXT_KEY_FEATURES' | translate }}:
                                        </div>
                                        <ul>
                                            <li *ngFor="let attribute of featuredAttributes">
                                                {{ attribute.name }}:
                                                <span>
                                                    <ng-container
                                                        *ngFor="let value of attribute.values; let last = last">
                                                        {{ value.name + (!last ? ', ' : '') }}
                                                    </ng-container>
                                                </span>
                                            </li>
                                        </ul>
                                        <div class="product__features-link">
                                            <a routerLink="./" fragment="product-tab-specification"
                                                (click)="scrollToTabs()">
                                                {{ 'LINK_SEE_FULL_SPECIFICATION' | translate }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__actions" [formGroup]="form">
                                <ng-container *ngIf="product.data?.availability !== 'out-of-stock'">
                                    <div class="product__actions-item product__actions-item--quantity">
                                        <app-input-number formControlName="quantity" size="lg" [min]="1">
                                        </app-input-number>
                                    </div>
                                    <div class="product__actions-item product__actions-item--addtocart">
                                        <div class="row" style="padding-left: 10px;">
                                            <button class="col-6 btn btn-primary btn-lg" style="width: 200px;"
                                                [class.btn-loading]="addToCartInProgress"
                                                [disabled]="!(product?.data?.variants[variantIndex]?.price >= 0)"
                                                (click)="addToCart()">
                                                {{ 'BUTTON_ADD_TO_CART' | translate }}
                                            </button>
                                            <div class="product-card__actions-list">
                                                <div appDropdown class=" col-6 position-relative w-50"
                                                    [class.my-lists__menu--open]="myListsDropdown.isOpen"
                                                    #myListsDropdown="appDropdown" *ngIf='isLoggedIn'>
                                                    <button appAddToMyLists type="button"
                                                        class="product__actions-item product__actions-item--my-lists"
                                                        [class.product__actions-item--loading]="addToMyLists.inProgress"
                                                        (click)="myListsDropdown.toggle()" #addToMyLists="addToMyLists">
                                                        <app-icon icon="wishlist-16"></app-icon>

                                                    </button>

                                                    <div class="my-lists__menu-body"
                                                        (mouseleave)="myListsDropdown.close()">
                                                        <button *ngFor="let item of addToMyLists.myLists"
                                                            class="my-lists__menu-item" type="button"
                                                            (click)="addToMyLists.add(item._id, product, product.data?.variants[variantIndex]); myListsDropdown.close()">
                                                            {{ item.data?.name }}
                                                        </button>
                                                        <!-- Empty State -->
                                                        <div class="p-3 text-center"
                                                            *ngIf="!addToMyLists.myLists || addToMyLists.myLists.length === 0">
                                                            {{ 'MY_LISTS_EMPTY_STATE_START' | translate }}
                                                            <a href="javascript:void(0)" routerLink="/shop/my-lists">{{
                                                                'MY_LISTS_EMPTY_STATE_LINK'
                                                                | translate }}</a>
                                                            {{ 'MY_LISTS_EMPTY_STATE_END' | translate }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__actions-divider"></div>
                                    <div class="message-text-not-logged" *ngIf="!isLoggedIn">
                                        {{ 'TEXT_YOU_NEED_TO_LOGIN_FOR_PRICE' | translate }}
                                    </div>
                                </ng-container>
                                <div class="product__actions-divider"></div>

                                <!-- <div appDropdown class="position-relative w-50"
                                    [class.my-lists__menu--open]="myListsDropdown.isOpen" #myListsDropdown="appDropdown"
                                    *ngIf='isLoggedIn'>
                                    <button appAddToMyLists type="button"
                                        class="product__actions-item product__actions-item--my-lists"
                                        [class.product__actions-item--loading]="addToMyLists.inProgress"
                                        (click)="myListsDropdown.toggle()" #addToMyLists="addToMyLists">
                                        <app-icon icon="wishlist-16"></app-icon>
                                        <span>{{ 'BUTTON_ADD_TO_MY_LISTS' | translate }}</span>
                                    </button>
        
                                    <div class="my-lists__menu-body" (mouseleave)="myListsDropdown.close()">
                                        <button *ngFor="let item of addToMyLists.myLists" class="my-lists__menu-item"
                                            type="button"
                                            (click)="addToMyLists.add(item._id, product, product.data?.variants[variantIndex]); myListsDropdown.close()">
                                            {{ item.data?.name }}
                                        </button>
                                        <div class="p-3 text-center"
                                            *ngIf="!addToMyLists.myLists || addToMyLists.myLists.length === 0">
                                            {{ 'MY_LISTS_EMPTY_STATE_START' | translate }}
                                            <a href="javascript:void(0)" routerLink="/shop/my-lists">{{
                                                'MY_LISTS_EMPTY_STATE_LINK'
                                                | translate }}</a>
                                            {{ 'MY_LISTS_EMPTY_STATE_END' | translate }}
                                        </div>
                                    </div>
        
                                </div> -->

                            </div>
                            <!-- <div class="pdm-btn">
                            <span class="input-number-decrement">–</span><input class="input-number" type="text"
                                value="1" min="0" max="10"><span class="input-number-increment">+</span>
                        </div>
                        <div class="pdm-atc">
                            <button type="button" class="btn btn-default">Add to cart</button>
                        </div> -->
                            <!-- <div class="log-msg">
                            <p>
                                You must be logged in to view the price for this item
                            </p>
                        </div> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-product-tabs class="product__tabs" [layout]="'full'" #tabs>
                                <app-product-tab id="product-tab-description"
                                    [label]="'TEXT_TAB_DESCRIPTION' | translate">
                                    <div class="typography" [innerHTML]="product.data?.description"></div>
                                </app-product-tab>
                                <app-product-tab id="product-tab-specification"
                                    [label]="'TEXT_TAB_SPECIFICATION' | translate">
                                    <app-spec [groups]="spec"></app-spec>
                                </app-product-tab>
                                <!--Show this when we enable reviews-->
                                <!--                            <app-product-tab id="product-tab-reviews" [label]="'TEXT_TAB_REVIEWS' | translate" [counter]="product.data?.reviews || 0" [showCounter]="(product.data?.reviews || 0) > 0">-->
                                <!--                                <app-reviews-view [productPageLayout]="'full'" [productId]="product._id"></app-reviews-view>-->
                                <!--                            </app-product-tab>-->
                                <!--                            <app-product-tab id="product-tab-analogs" [label]="'TEXT_TAB_ANALOGS' | translate">-->
                                <!--                                <app-analogs-table [productId]="product._id"></app-analogs-table>-->
                                <!--                            </app-product-tab>-->
                            </app-product-tabs>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" [formGroup]="form">
                    <app-product-variants *ngIf="product?.data?.options?.length > 0" formControlName="options"
                        class="product__form" [options]="product.data?.options" [variants]="product?.data?.variants">
                    </app-product-variants>

                    <div class="product__shop-features shop-features">
                        <ul class="shop-features__list">
                            <ng-container *ngIf="appSettings?.hotOffers">
                                <li class="shop-features__item">
                                    <div class="shop-features__item-icon">
                                        <app-icon icon="fi-free-delivery-48"></app-icon>
                                    </div>
                                    <div class="shop-features__info">
                                        <div class="shop-features__item-title">{{
                                            'TEXT_SHOP_FEATURE_FREE_SHIPPING_TITLE' |
                                            translate }}</div>
                                        <div class="shop-features__item-subtitle">{{
                                            'TEXT_SHOP_FEATURE_FREE_SHIPPING_SUBTITLE' | translate }}</div>
                                    </div>
                                </li>
                                <li class="shop-features__divider" role="presentation"></li>
                            </ng-container>

                            <li class="shop-features__item">
                                <div class="shop-features__item-icon">
                                    <app-icon icon="fi-24-hours-48"></app-icon>
                                </div>
                                <div class="shop-features__info">
                                    <div class="shop-features__item-title">{{ 'TEXT_SHOP_FEATURE_SUPPORT_TITLE' |
                                        translate
                                        }}</div>
                                    <div class="shop-features__item-subtitle">{{ 'TEXT_SHOP_FEATURE_SUPPORT_SUBTITLE' |
                                        translate }}</div>
                                </div>
                            </li>
                            <li class="shop-features__divider" role="presentation"></li>
                            <li class="shop-features__item">
                                <div class="shop-features__item-icon">
                                    <app-icon icon="fi-payment-security-48"></app-icon>
                                </div>
                                <div class="shop-features__info">
                                    <div class="shop-features__item-title">{{ 'TEXT_SHOP_FEATURE_SECURITY_TITLE' |
                                        translate
                                        }}</div>
                                    <div class="shop-features__item-subtitle">{{ 'TEXT_SHOP_FEATURE_SECURITY_SUBTITLE' |
                                        translate }}</div>
                                </div>
                            </li>
                            <li class="shop-features__divider" role="presentation"></li>

                            <ng-container *ngIf="appSettings?.hotOffers">
                                <li class="shop-features__item">
                                    <div class="shop-features__item-icon">
                                        <app-icon icon="fi-tag-48"></app-icon>
                                    </div>
                                    <div class="shop-features__info">
                                        <div class="shop-features__item-title">{{ 'TEXT_SHOP_FEATURE_HOT_OFFERS_TITLE' |
                                            translate }}</div>
                                        <div class="shop-features__item-subtitle">{{
                                            'TEXT_SHOP_FEATURE_HOT_OFFERS_SUBTITLE'
                                            | translate }}</div>
                                    </div>
                                </li>
                                <li class="shop-features__divider" role="presentation"></li>
                            </ng-container>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--                <ng-container *ngIf="relatedProducts.length > 0">-->
        <!--                    &lt;!&ndash;Spacer&ndash;&gt;-->
        <!--<div class="nao-spacer-nl"></div>-->


        <!--                    <app-block-products-carousel-->
        <!--                        [blockTitle]="'HEADER_RELATED_PRODUCTS' | translate"-->
        <!--                        [products]="relatedProducts"-->
        <!--                        [layout]="layout === 'sidebar' ? 'grid-4-sidebar' : 'grid-5'"-->
        <!--                    ></app-block-products-carousel>-->
        <!--                </ng-container>-->
    </div>
</div>
<!-- Product Detail Modal -->



<!--Spacer-->
<div class="nao-spacer-before-footer"></div>