<div class="site">
    <app-loading-bar></app-loading-bar>

    <div class="site__container">
        <!--Top bar-->
        <app-top-bar></app-top-bar>

        <!-- site__mobile-header -->
        <header class="site__mobile-header">
            <app-mobile-header></app-mobile-header>
        </header>

        <!-- site__header -->
        <header class="site__header">
            <app-header></app-header>
        </header>

        <!-- site__body -->
        <div class="site__body">
            <router-outlet></router-outlet>
        </div>

        <!-- site__footer -->
        <footer class="site__footer">
            <app-footer></app-footer>
        </footer>
    </div>

    <!-- mobile-menu -->
    <app-mobile-menu></app-mobile-menu>

    <!-- quickview -->
    <app-quickview></app-quickview>

</div>
