<!--Spacer-->
<div class="nao-spacer-ledge-height"></div>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">{{ 'TEXT_ABOUT_US_TITLE' | translate }}</h1>
            </div>
            <div class="document__content card">
                <div class="typography">
                    <p>
                        Direct Med Supplies is a privately owned company based on Long Island, New York that provides comprehensive medical supply and equipment as well as consultation services to hospital systems, ambulatory care, laboratories and veterinarians. We service Long Island, New York, New Jersey and the five-boroughs and have accounts nationally.
                        <br><br>
                        We pride ourselves in providing honest, dependable service. Direct Med Supplies understands the changes in the supply chain. Direct Med Supplies has the understanding how to work with the IDN to standardize across the network. Working with IDN’s, we are able to supply low unit of measure to physician locations. Direct Med Supplies also boasts a new data driven, cloud based system to handle ordering and contracting through our ecommerce website allowing more visibility into usage, cost and performance analytics.
                        <br><br>
                        Direct Med works with over 500 manufacturers, with over 100,000 SKU’s offering the best value and selection to our customers. We work directly with manufacturers to offer a wide variety of medical supplies, diagnostic/medical equipment, technology services and office equipment and furniture. Direct Med has become a trusted leader in facility setups on Long Island and the 5 burrows.
                        <br><br>
                        Direct Med Supplies a proud member of NDC. We partnered with National Distribution & Contracting, Inc. (NDC), which is the largest organization of independent medical, surgical, dental and laboratory distributors in North America representing over 650 member distributors. NDC has two strategically located distribution centers reaching 95% of the country within two days of ground shipment. Direct Med Supplies delivers high-quality products and services that are affordable for your practice.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
