<div class="mobile-menu__indicators">
    <a *ngIf='isLoggedIn' class="mobile-menu__indicator" routerLink="/shop/my-lists" (click)="menu.close()">
        <span class="mobile-menu__indicator-icon">
            <app-icon icon="heart-20"></app-icon>
            <span class="mobile-menu__indicator-counter" *ngIf="myLists.count$|async">{{ myLists.count$|async }}</span>
        </span>
        <span class="mobile-menu__indicator-title">{{ 'TEXT_MOBILE_INDICATOR_MY_LISTS' | translate }}</span>
    </a>
    <a class="mobile-menu__indicator" routerLink="/account" (click)="menu.close()">
        <span class="mobile-menu__indicator-icon">
            <app-icon icon="person-20"></app-icon>
        </span>
        <span class="mobile-menu__indicator-title">{{ 'TEXT_MOBILE_INDICATOR_ACCOUNT' | translate }}</span>
    </a>
    <a class="mobile-menu__indicator" routerLink="/shop/cart" (click)="menu.close()">
        <span class="mobile-menu__indicator-icon">
            <app-icon icon="cart-20"></app-icon>
            <span class="mobile-menu__indicator-counter" *ngIf="cart.quantity$|async">{{ cart.quantity$|async }}</span>
        </span>
        <span class="mobile-menu__indicator-title">{{ 'TEXT_MOBILE_INDICATOR_CART' | translate }}</span>
    </a>
</div>
