<div class="filter-color">
    <div class="filter-color__list">
        <label *ngFor="let item of options.items; trackBy: trackBySlug" class="filter-color__item">
            <span
                class="filter-color__check input-check-color"
                [class.input-check-color--white]="colorType(item.color) === 'white'"
                [class.input-check-color--light]="colorType(item.color) === 'light'"
                [style.color]="item.color"
            >
                <label class="input-check-color__body">
                    <input
                        class="input-check-color__input"
                        type="checkbox"
                        [checked]="isItemChecked(item)"
                        [disabled]="item.count === 0"
                        (change)="onItemChange(item, $event)"
                    >
                    <span class="input-check-color__box"></span>
                    <span class="input-check-color__icon"><app-icon icon="check-12x9"></app-icon></span>
                    <span class="input-check-color__stick"></span>
                </label>
            </span>
        </label>
    </div>
</div>
