<!--Loader-->
<nao-loading *ngIf="!product"></nao-loading>

<!--Data-->
<div class="block-split" *ngIf="product">
  <div class="container nao-pt-32">

    <div class="nao-product-individual-card__main nao-mb-24" [formGroup]="form">
      <div class="nao-card-content">
        <div class="gallery-container">
          <app-product-gallery class="product__gallery"
                               [images]="(product?.data?.variants[variantIndex]?.images?.length ? product?.data?.variants[variantIndex]?.images : product?.data?.images) || []"
                               layout="product-full">
          </app-product-gallery>
        </div>

        <div class="product__content">
          <h1 class="card__product-name">{{ product.data?.name }}</h1>
          <div class="card__product-description"
               *ngIf="product.data?.shortDescription || product.data?.description">{{ product.data?.shortDescription || product.data?.description }}</div>

          <!--Meta info-->
          <div class="emulated-flex-gap-12of24">
            <div *ngIf="appSettings.showProductSku">
              <div class="product-meta__label">{{ 'TABLE_SKU' | translate }}</div>
              <div
                class="product-meta__value">{{ product?.data?.variants[variantIndex]?.sku || product.data?.sku }}</div>
            </div>
            <div *ngIf="product?.data?.manufacturer?.data?.name">
              <div class="product-meta__label">{{ 'TABLE_BRAND' | translate }}</div>
              <div class="product-meta__value">{{ product?.data?.manufacturer.data.name }}</div>
            </div>
            <div>
              <div class="product-meta__label">{{ 'TABLE_PART_NUMBER' | translate }}</div>
              <div class="product-meta__value">{{ product?.data?.variants[variantIndex]?.manufacturerItemCode }}</div>
            </div>

          </div>


          <!--Product: variants-->
          <app-product-variants
            *ngIf="product?.data?.options?.length > 0"
            formControlName="options"
            class="card__product-variants"
            [options]="product.data?.options"
            [variants]="product?.data?.variants"
          ></app-product-variants>


          <div class="card__product-actions">

            <div class="card__product-prices-stock" *showPrice>
              {{ product?.data?.variants[variantIndex]?.price | currencyFormat }}
            </div>

            <!--Now price placeholder-->
            <div class="box-disable-input-placeholder" *ShowOnlyIfOnlyLoggedUsersSeePrices>
              $
            </div>

            <div class="card__product-actions-controls">
              <div>
                <app-input-number formControlName="quantity" [min]="1"></app-input-number>
              </div>

              <div class="nao-ml-8">
                <button
                  disableIfNotLoggedIn
                  class="btn btn-primary btn-block"
                  [class.btn-loading]="addToCartInProgress"
                  [disabled]="!(product?.data?.variants[variantIndex]?.price >= 0)"
                  (click)="addToCart()"
                >
                  {{ 'BUTTON_ADD_TO_CART' | translate }}
                </button>
              </div>
            </div>
          </div>

        </div>


      </div>
      <div class="nao-card-footer" *ngIf="isLoggedIn">
        <div appDropdown
             class="position-relative"
             [class.my-lists__menu--open]="myListsDropdown.isOpen"
             #myListsDropdown="appDropdown"
             *ngIf="isLoggedIn">
          <button
            type="button"
            appAddToMyLists
            (click)="myListsDropdown.toggle()"
            #addToMyLists="addToMyLists"
            class="nao-btn nao-btn-sm nao-btn-simple-primary me-8">
            <app-icon icon="favorite-sm" class=""></app-icon>
          </button>

          <div class="my-lists__menu-body" (mouseleave)="myListsDropdown.close()">
            <button
              *ngFor="let item of addToMyLists.myLists"
              class="my-lists__menu-item"
              type="button"
              (click)="addToMyLists.add(item.docId, product, product.data?.variants[variantIndex]); myListsDropdown.close()">
              {{ item.data?.name }}
            </button>
            <!--Empty state-->
            <div class="p-3 text-center" *ngIf="!addToMyLists.myLists || addToMyLists.myLists.length === 0">
              {{ 'MY_LISTS_EMPTY_STATE_START' | translate }}
              <a href="javascript:void(0)" routerLink="/shop/my-lists">{{ 'MY_LISTS_EMPTY_STATE_LINK' | translate }}</a>
              {{ 'MY_LISTS_EMPTY_STATE_END' | translate }}
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Card with column layout-->
    <div class="nao-card-info-layout has-bg nao-mb-24" *ngIf="keyAdvantages?.show && keyAdvantages?.items?.length">
      <div class="variant-stat" *ngFor="let item of keyAdvantages.items">
        <div class="variant-image-container">
          <ng-container [ngSwitch]="item.icon">
            <img src="assets/images/icons/shipping-methods.png" height="100" *ngSwitchCase="'truck'">
            <img src="assets/images/icons/approval-app.png" height="100" *ngSwitchCase="'stamp'">
            <img src="assets/images/icons/ecommerce-storefront.png" height="100" *ngSwitchCase="'store'">
            <img src="assets/images/icons/binoculars.png" height="100" *ngSwitchCase="'binoculars'">
            <img src="assets/images/icons/directions.png" height="100" *ngSwitchCase="'directions'">
            <img src="assets/images/icons/shipping-container.png" height="100" *ngSwitchCase="'shipping-container'">
            <img src="assets/images/icons/calculator.png" height="100" *ngSwitchCase="'calculator'">
            <img src="assets/images/icons/folders.png" height="100" *ngSwitchCase="'folders'">
            <img src="assets/images/icons/shopping-carts.png" height="100" *ngSwitchCase="'shopping-carts'">
            <img src="assets/images/icons/chart.png" height="100" *ngSwitchCase="'chart'">
            <img src="assets/images/icons/forklift.png" height="100" *ngSwitchCase="'forklift'">
            <img src="assets/images/icons/stethoscope.png" height="100" *ngSwitchCase="'stethoscope'">
            <img src="assets/images/icons/clock.png" height="100" *ngSwitchCase="'clock'">
            <img src="assets/images/icons/medical-kit.png" height="100" *ngSwitchCase="'medical-kit'">
            <img src="assets/images/icons/cloud.png" height="100" *ngSwitchCase="'cloud'">
            <img src="assets/images/icons/pos-terminal.png" height="100" *ngSwitchCase="'pos-terminal'">
            <img src="assets/images/icons/typewriter.png" height="100" *ngSwitchCase="'typewriter'">
            <img src="assets/images/icons/corporate-building.png" height="100" *ngSwitchCase="'corporate-building'">
            <img src="assets/images/icons/settings-cog.png" height="100" *ngSwitchCase="'settings-cog'">
            <img src="assets/images/icons/call.png" *ngSwitchDefault>
          </ng-container>

        </div>
        <div class="variant-title">{{ item.title }}</div>
        <div class="variant-description">{{ item.description }}</div>
      </div>
    </div>


    <!--Card for product specifications-->
    <div class="nao-card-1 nao-mb-24" *ngIf="spec?.length">
      <div class="nao-card-header d-flex align-items-center">
        <app-icon class="nao-mr-8" icon="product-specifications"></app-icon>
        <div class="">{{ 'TEXT_PRODUCT_SPECIFICATIONS' | translate }}</div>
      </div>
        <table class="nao-card-table">
          <thead>
            <tr>
              <th style="min-width: 70px; width: 130px">{{ 'VARIANT_SPECIFICATION_VOLUME' | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of spec">
              <td class="nao-card-table__name">{{ item.name }}</td>
              <td class="nao-card-table__value">{{ item.value }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <!--Card for description-->
    <div class="nao-card-1 nao-mb-24" *ngIf="product.data?.description">
      <div class="nao-card-header d-flex align-items-center">
        <app-icon class="nao-mr-8" icon="product-description"></app-icon>
        <div class="">{{ 'TEXT_EXTENDED_PRODUCT_DESCRIPTION' | translate }}</div>
      </div>
      <div class="nao-card-content">{{ product.data?.description }}</div>
    </div>


  </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
