// ----------------------------------------
// Footer
.nao-footer-container {
  min-height: 320px;
  background-color: var(--bg-2);
  padding: 100px 0;
  border-top: 1px solid var(--separator);

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  .nao-footer-content {
    position: relative;
    color: var(--text-primary);


    .footer-group {
      padding-right: 30px;
      padding-bottom: 20px;

      .footer-title {
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 12px;
      }


      .footer-description {
        font-size: 15px;
        color: var(--text-primary-light);
        line-height: 1.467;
        max-width: 240px;
        min-width: 240px;

        @media screen and (max-width: 850px) {
          min-width: unset !important;
        }
      }

      .footer-links {
        list-style-type: none;
        margin: 0;
        font-size: 15px;
        padding: 0 10px 0 0;

        li {
          margin-bottom: 10px;

          a {
            color: var(--text-primary-light);

            &:hover {
              color: var(--text-primary-light);
            }
          }
        }
      }

      @media screen and (max-width: 895px) {
        flex-basis: 33%;
        min-width: 170px;
      }

      @include media-breakpoint-down(xs) {
        padding-right: unset;
        flex-basis: 50%;
      }
    }

    .footer-about {
      min-width: 240px !important;
      padding-right: 30px !important;

      .footer-description {
        max-width: 240px;
        min-width: 240px;
      }

      //@media screen and (max-width: 895px) {
      //  flex-basis: 100% !important;
      //}

      @media screen and (max-width: 850px) {
        margin-bottom: 20px;

        .footer-description {
          max-width: unset;
        }
      }
    }

    .copyright {
      bottom: 0;
      left: 15px;
      position: absolute;
      font-size: 12px;
      color: var(--text-6);
    }
  }

  .nao-footer-bottom {
    font-size: 14px;
    color: var(--text-4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  @media screen and (max-width: 850px) {
    padding-bottom: 15px;

    .nao-footer-content {
      padding-bottom: 20px;
    }
  }
}
