<div class="py-2 border-bottom ml-3">
    <h6 class="font-weight-bold mar">Manufacturer</h6>
    <div id="orange"><span class="fa fa-minus"></span></div>

    <div class="cat-box scrollable" appCheckboxGroup [formControl]="control">
        <!--TODO: when we have filters on BE, disable the filter if the item.count === 0-->
        <!--    <label-->
        <!--        *ngFor="let item of options.items; trackBy: trackBy"-->
        <!--        class="filter-list__item"-->
        <!--        [class.filter-list__item&#45;&#45;disabled]="item.count === 0"-->
        <!--        <app-checkbox [value]="item.slug" class="filter-list__input"></app-checkbox>-->
        <!--    >-->
        <ul>
            <li>
                <label *ngFor="let item of options.items; trackBy: trackBy" class="filter-list__item">
                    <app-checkbox [value]="item._id" class="filter-list__input"></app-checkbox>

                    <span class="filter-list__title">{{ item.name }}</span>
                    <span *ngIf="item.count" class="filter-list__counter">{{ item.count }}</span>
                </label>

            </li>
        </ul>
    </div>
</div>