<ng-container
  appAddToCart
  appAddToCompare
  #cart="addToCart"
  #compare="addToCompare"
  *ngIf="product?.data"
>
  <!--Product image-->
  <div class="nao-product-card__image">
    <div class="image image--type--product">
      <a [routerLink]="url.product(product)" class="image__body">
        <img class="image__tag"
             [src]="product?.data?.images?.length && product?.data?.images[0].cdnLink | checkImageFallback: product?.data?.selectedVariant"
             alt="">
      </a>
    </div>
  </div>

  <div class="nao-product-card__content">

    <!--Product name-->
    <div class="nao-product-card__name-container">
      <a class="nao-product-card__name" [routerLink]="url.product(product)">{{ product?.data?.name }}</a>

      <a
        class="nao-product-card__action--base nao-product-card__action--quickview"
        href="javascript:void(0)"
        [attr.aria-label]="'BUTTON_QUICKVIEW' | translate"
        (click)="showQuickView()"
      >
        <app-icon icon="quickview"></app-icon>
      </a>
    </div>



    <!--Show rating only if it's allowed in settings-->
    <!--This will have to be connected to ecomm in the future-->
    <!--  <div class="product-card__rating" *ngIf="appSettings?.rating">-->
    <!--    <app-rating class="product-card__rating-stars" [value]="product?.data?.rating || 0"></app-rating>-->
    <!--    <div class="product-card__rating-label">-->
    <!--      {{ 'TEXT_RATING_LABEL' | translate:{rating: product?.data?.rating, reviews: product?.data?.reviews} }}-->
    <!--    </div>-->
    <!--  </div>-->


    <!--SKU section-->
    <div *ngIf="!exclude.includes('meta') && appSettings.showProductSku" class="nao-card-card__info-section">
      <span>{{ 'TEXT_SKU' | translate }}:</span> {{ product?.data?.sku || product?.data?.variants[0]?.sku }}
    </div>

    <!--Show product description-->
    <div *ngIf="!exclude.includes('features') && product?.data?.description" class="nao-card-card__description-section">
      {{ product?.data?.description }}
    </div>

    <div class="nao-product-card__push-bottom"></div>

    <!--Product card prices-->
    <div class="nao-product-card__price" *showPrice>
      <ng-container *ngIf="product.minPrice === product.maxPrice">{{ product.minPrice | currencyFormat }}</ng-container>
      <ng-container *ngIf="product.minPrice !== product.maxPrice">{{ product.minPrice | currencyFormat }} - {{ product.maxPrice | currencyFormat }}</ng-container>
    </div>


    <!--Product card footer-->
    <div class="nao-product-card__footer">
      <div appDropdown
           class="me-8"
           [class.my-lists__menu--open]="myListsDropdown.isOpen"
           #myListsDropdown="appDropdown"
           *ngIf="isLoggedIn">

        <a
          appAddToMyLists
          href="javascript:void(0)"
          class="nao-product-card__action--base nao-product-card__action--my-list"
          [attr.aria-label]="'BUTTON_ADD_TO_MY_LISTS' | translate"
          (click)="myListsDropdown.toggle()"
          #addToMyLists="addToMyLists"
        >
          <app-icon icon="favorite-sm"></app-icon>
        </a>

        <div class="my-lists__menu-body" (mouseleave)="myListsDropdown.close()">
          <button
            *ngFor="let item of addToMyLists.myLists"
            class="my-lists__menu-item"
            type="button"
            (click)="addToMyLists.add(item.docId, product, product.data?.variants[0]); myListsDropdown.close()">
            {{ item.data?.name }}
          </button>
          <!--Empty state-->
          <div class="p-3 text-center" *ngIf="!addToMyLists.myLists || addToMyLists.myLists.length === 0">
            {{ 'MY_LISTS_EMPTY_STATE_START' | translate }}
            <a href="javascript:void(0)" routerLink="/shop/my-lists">{{ 'MY_LISTS_EMPTY_STATE_LINK' | translate }}</a>
            {{ 'MY_LISTS_EMPTY_STATE_END' | translate }}
          </div>
        </div>

      </div>



      <!--Add to cart btn-->
      <button
        type="button"
        disableIfNotLoggedIn
        class="nao-btn nao-btn-sm nao-btn-primary"
        [disabled]="!(product?.data?.variants[0]?.price >= 0)"
        (click)="cart.add(product, product.data?.variants[0])">
        {{ 'BUTTON_ADD_TO_CART' | translate }}
        <app-icon icon="loading" *ngIf="cart.inProgress"></app-icon>
      </button>
    </div>
  </div>

</ng-container>
