
/*** Snippets ***/

.snip1268 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    height: 100%;
    width: 100%;
    color: #333333;
    text-align: center;
    background-color: #ffffff;
    line-height: 1.6em;
    border-radius: 10px;
    border: 1px solid #dfdfdf;
  }
  
  .snip1268:hover {
    border: 1px solid #fd7e14;
  }
  
  .snip1268 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  
  .snip1268 .image {
    position: relative;
  }
  
  .snip1268 img {
    max-width: 100%;
    vertical-align: top;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  
  .snip1268 .icons,
  .snip1268 .add-to-cart {
    position: absolute;
    left: 20px;
    right: 20px;
    opacity: 0;
  }
  
  .snip1268 .icons {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: 20px;
    display: flex;
    //justify-content: space-between;
  }
  
  .snip1268 .icons a {
    width: 50px;
    background: #fd7e14;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
  }
  .snip1268 .icons a:hover {
    background: #000000;
  }
  
  .snip1268 .icons a:hover i {
    color: #ffffff;
    opacity: 1;
  }
  
  .snip1268 .icons i {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    opacity: 0.7;
    margin: 0;
  }
  
  .snip1268 .add-to-cart {
    position: absolute;
    bottom: 20px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    font-size: 0.8em;
    color: #ffffff;
    line-height: 46px;
    letter-spacing: 1.5px;
    background-color: #fd7e14;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
  }
  
  .snip1268 .add-to-cart:hover {
    background: #000000;
    color: #ffffff;
  }
  
  .snip1268 figcaption {
    padding: 20px 20px 30px;
  }
  
  .snip1268 h2,
  .snip1268 p {
    margin: 0;
    text-align: left;
  }
  
  .snip1268 h2 {
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .snip1268 p {
    margin-bottom: 15px;
    font-size: 0.85em;
    font-weight: 500;
    text-align: center;
  }
  
  .snip1268 .price {
    font-size: 1.3em;
    opacity: 0.5;
    font-weight: 700;
    text-align: right;
  }
  
  .snip1268:hover img,
  .snip1268.hover img {
    opacity: 0.8;
  }
  
  .snip1268:hover .icons,
  .snip1268.hover .icons,
  .snip1268:hover .add-to-cart,
  .snip1268.hover .add-to-cart {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  /*** Snippets END***/



  .fa-search {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 3px;
    padding-right: 20px
  }
  
.card-img-top {
  border-radius: 10px;
  text-align: -webkit-center;
  height: 250px;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.wishlist{
  padding-left: 10px;
}
// .wishlistBtn :hover{
//   background: black;
//   }

.wishlistBtn{
  width: 50px;
  background: #fd7e14;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
}
