<div class="nao-footer-container">
  <div class="mx-auto nao-footer-content container d-flex flex-wrap justify-content-between">

    <div class="footer-group footer-about"  *ngIf="infoSupport?.contactUs">
      <div class="footer-title">{{ 'TEXT_CONTACT_US' | translate }}</div>
      <div class="footer-description">
        {{ infoSupport?.contactUs }}
      </div>
    </div>


    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_INFORMATION' | translate }}</div>
      <ul class="footer-links">
        <li><a routerLink="/site/about-us" href="javascript:void(0)">{{ 'LINK_ABOUT_US' | translate }}</a></li>
        <li><a routerLink="/site/contact-us" href="javascript:void(0)">{{ 'LINK_CONTACT_US' | translate }}</a></li>
        <li><a routerLink="/site/faq" href="javascript:void(0)">{{ 'LINK_FAQ' | translate }}</a></li>
        <li><a routerLink="/site/terms" href="javascript:void(0)">{{ 'LINK_TERMS_AND_CONDITIONS' | translate }}</a></li>
        <li><a href="javascript:void(0)">{{ 'LINK_SITE_MAP' | translate }}</a></li>
      </ul>
    </div>


    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_MORE_LINKs' | translate }}</div>
      <ul class="footer-links">
        <li><a routerLink="/shop/category/products" href="javascript:void(0)">{{ 'TEXT_PRODUCT_CATEGORIES' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-group" *ngIf="infoSupport?.ourGuarantee">
      <div class="footer-title">{{ infoSupport.ourGuaranteeTitle || ('TEXT_OUR_GUARANTEE' | translate) }}</div>
      <div class="footer-description">
        {{ infoSupport?.ourGuarantee }}
      </div>
    </div>

    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_CONTACT' | translate }}</div>
      <ul class="footer-links">
        <li *ngIf="infoSupport?.supportPhoneNumber">{{ infoSupport?.supportPhoneNumber }}</li>
        <li *ngIf="infoSupport?.location">{{ infoSupport?.location }}</li>
        <li *ngIf="infoSupport?.supportEmailAddress"><a [href]="'mailto:' + infoSupport.supportEmailAddress">{{ infoSupport.supportEmailAddress }}</a></li>
        <li *ngIf="infoSupport?.workingHours">{{ infoSupport?.workingHours }}</li>
      </ul>

      <div class="nao-mt-24">
        <app-socials></app-socials>
      </div>
    </div>

  </div>

  <!--Footer bottom-->
  <div class="nao-footer-bottom container mx-auto">
    <div class="d-flex align-items-center">
      Powered by <a href="https://naologic.com/" target="_blank" class="nao-ml-8 d-flex"><img src="assets/images/logo/naologic-logo.svg" alt="Naologic" width="96" height="12"></a>
    </div>
  </div>
</div>
