<div class="nao-footer-container">
  <div class="mx-auto nao-footer-content container d-flex flex-wrap justify-content-between">

    <div class="footer-group footer-about">
      <div class="footer-title">{{ 'TEXT_CONTACT_US' | translate }}</div>
      <div class="footer-description">
        Hi, we are always open for cooperation and suggestions.
      </div>
    </div>


    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_INFORMATION' | translate }}</div>
      <ul class="footer-links">
        <li><a routerLink="/site/about-us" href="javascript:void(0)">{{ 'LINK_ABOUT_US' | translate }}</a></li>
        <li><a routerLink="/site/faq" href="javascript:void(0)">{{ 'LINK_FAQ' | translate }}</a></li>
        <li><a routerLink="/site/terms" href="javascript:void(0)">{{ 'LINK_TERMS_AND_CONDITIONS' | translate }}</a></li>
        <li><a href="javascript:void(0)">{{ 'LINK_SITE_MAP' | translate }}</a></li>
      </ul>
    </div>


    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_MORE_LINKs' | translate }}</div>
      <ul class="footer-links">
        <li><a routerLink="/shop/category/products" href="javascript:void(0)">{{ 'TEXT_PRODUCT_CATEGORIES' | translate }}</a></li>
      </ul>
    </div>

    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_OUR_GUARANTEE' | translate }}</div>
      <div class="footer-description">
        100% safety. We only process two-way encrypted payments and operate under strict security protocols.
      </div>
    </div>

    <div class="footer-group">
      <div class="footer-title">{{ 'TEXT_CONTACT' | translate }}</div>
      <ul class="footer-links">
        <li *ngIf="infoSupport?.supportPhoneNumber">{{ infoSupport?.supportPhoneNumber }}</li>
        <li *ngIf="infoSupport?.location">{{ infoSupport?.location }}</li>
        <li *ngIf="infoSupport?.supportEmailAddress"><a [href]="'mailto:' + infoSupport.supportEmailAddress">{{ infoSupport.supportEmailAddress }}</a></li>
        <li *ngIf="infoSupport?.workingHours">{{ infoSupport?.workingHours }}</li>
      </ul>

      <div class="nao-mt-24">
        <div class="emulated-flex-gap-8 align-items-center">
          <a href="www.facebook.com"><img src="assets/images/social/twitter.png" alt="Twitter" width="28" height="22"></a>
          <a href="www.facebook.com"><img src="assets/images/social/facebook.png" alt="Facebook" width="22" height="22"></a>
          <a href="www.facebook.com"><img src="assets/images/social/linkedin.png" alt="Linkedin" width="20" height="20"></a>
          <a href="www.facebook.com"><img src="assets/images/social/tiktok.png" alt="TikTok" width="20" height="22"></a>
          <a href="www.facebook.com"><img src="assets/images/social/instagram.png" alt="Instagram" width="22" height="22"></a>
          <a href="www.facebook.com"><img src="assets/images/social/youtube.png" alt="Youtube" width="32" height="22"></a>
        </div>
      </div>
    </div>

  </div>

  <!--Footer bottom-->
  <div class="nao-footer-bottom container mx-auto">
    <div class="d-flex align-items-center">
      Powered by <a href="https://naologic.com/" target="_blank" class="nao-ml-8"><img src="assets/images/logo/naologic-logo.svg" alt="Naologic" width="96" height="12"></a>
    </div>
  </div>
</div>
