
.header-email {
    width: 100%;
    position: relative;
}
.header-email input {
    width: 100%;
    border: 1px solid rgb(146, 146, 146);
    padding-block: 6px;
    padding-inline: 20px;
    border-radius: 50px;
}

.header-email .drop-button-header:hover {
    position: absolute;
    right: 0px;
    z-index: 1;
    text-decoration: none;
    height: 100%;
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
.header-email .drop-button-header {
    position: absolute;
    right: 0px;
    z-index: 1;
    text-decoration: none;
    height: 100%;
    background-color: #fd7e14;
    border: 1px solid #fd7e14;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-inline: 10px;
    transition: all .3s ease-in-out;
}