<!--Spacer-->
<div class="nao-spacer-ledge-height"></div>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">{{ 'TEXT_TERMS_AND_CONDITIONS' | translate }}</h1>
            </div>
            <div class="document__content card">
                <div class="typography">
                    <app-terms></app-terms>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
