<div *ngIf="!refreshInProgress">
    <ng-container *ngIf="!myListItems?.length">
        <app-block-header
            [breadcrumb]="[
                {label: 'LINK_HOME' | translate, url: '/'},
                {label: 'LINK_MY_LISTS' | translate, url: url.myLists()},
                {label: myListName, url: ''},
            ]"
        ></app-block-header>

        <div class="block-empty">
            <div class="container">
                <div class="block-empty__body">
                    <h1 class="block-empty__title">{{ emptyListHeader }}</h1>
                    <div
                        class="block-empty__message"
                        [innerHTML]="'HEADER_MY_LISTS_EMPTY_SUBTITLE' | translate">
                    </div>
                    <div class="block-empty__action">
                        <a routerLink="/" class="btn btn-primary btn-sm">{{ 'BUTTON_GO_TO_HOMEPAGE' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="myListItems?.length">
        <app-block-header
            [pageTitle]="'HEADER_MY_LISTS' | translate"
            [breadcrumb]="[
                {label: 'LINK_HOME' | translate, url: '/'},
                {label: 'LINK_MY_LISTS' | translate, url: ''}
            ]"
        ></app-block-header>

        <div class="block">
            <div class="container container--max--xl">
                <div class='my-list'>
                    <table class='my-list__table'>
                        <thead class='my-list__head'>
                            <tr class='my-list__row my-list__row--head'>
                                <th class='my-list__column my-list__column--head my-list__column--image'>{{ 'TABLE_IMAGE' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--product'>{{ 'TABLE_PRODUCT' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--stock'>{{ 'TABLE_STOCK_STATUS' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--price'>{{ 'TABLE_PRICE' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--button'></th>
                                <th class='my-list__column my-list__column--head my-list__column--remove'></th>
                            </tr>
                        </thead>
                        <tbody class='my-list__body'>
                            <tr *ngFor="let myListItem of myListItems" class='my-list__row my-list__row--body'>
                                <td class='my-list__column my-list__column--body my-list__column--image'>
                                    <div class="image image--type--product">
                                        <a [routerLink]="url.product(myListItem?.product)" class="image__body">
                                            <img class="image__tag" [src]="myListItem?.product | getProductImage:myListItem?.variant" alt="">
                                        </a>
                                    </div>
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--product'>
                                    <div class='my-list__product-name'>
                                        <a [routerLink]="url.product(myListItem?.product)">{{ myListItem?.variant?.variantName }}</a>
                                    </div>
                                    <!--This will have to be connected to ecomm in the future-->
                                    <!--Show rating only if it's allowed in settings-->
                                    <!--<div class="my-list__product-rating" *ngIf="appSettings?.rating">
                                        <div class="my-list__product-rating-stars">
                                            <app-rating [value]="myListItem?.product?.data?.rating || 0"></app-rating>
                                        </div>
                                        <div class="my-list__product-rating-title">
                                            {{ 'TEXT_RATING_LABEL' | translate:{rating: product?.data?.rating, reviews: product.reviews} }}
                                        </div>
                                    </div> -->
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--stock'>
                                    <app-status-badge
                                        class="product__stock"
                                        [type]="myListItem?.product?.data?.availability|stockToStatusBadgeType"
                                        [text]="myListItem?.product?.data?.availability|stockToStatusBadgeText|translate"
                                    ></app-status-badge>
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--price'>
                                    {{ myListItem?.variant?.price | currencyFormat }}
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--button'>
                                    <button
                                        appAddToCart
                                        type="button"
                                        class="btn btn-sm btn-primary"
                                        [class.btn-loading]="addToCart.inProgress"
                                        (click)="addToCart.add(myListItem?.product, myListItem?.variant)"
                                        #addToCart="addToCart"
                                        [disabled]="!(myListItem?.variant?.price >= 0)"
                                    >
                                        {{ 'BUTTON_ADD_TO_CART' | translate }}
                                    </button>
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--remove'>
                                    <button
                                        appRemoveFromMyLists
                                        type="button"
                                        class='my-list__remove btn btn-sm btn-muted btn-icon'
                                        [class.btn-loading]="removeFromMyLists.inProgress"
                                        (click)="removeFromMyLists.remove(myListItem)"
                                        #removeFromMyLists="removeFromMyLists"
                                    >
                                        <app-icon icon="cross-12"></app-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<nao-loading *ngIf="refreshInProgress"></nao-loading>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
