<!--Loading-->
<nao-loading *ngIf="inProgress"></nao-loading>

<!--Content-->
<div class="page-my-lists-content-wrapper" *ngIf="!inProgress">
    <app-block-header
        [breadcrumb]="[
                {label: 'LINK_HOME' | translate, url: '/'},
                {label: 'LINK_MY_LISTS' | translate, url: url.myLists()},
                {label: data?.name, url: ''},
            ]"
    ></app-block-header>

    <!--Empty state-->
    <ng-container *ngIf="!data?.products?.length">
        <div class="block-empty">
            <div class="container">
                <div class="block-empty__body">
                    <h1 class="block-empty__title">{{ 'HEADER_MY_LIST_EMPTY_TITLE' | translate: {name: data?.name} }}</h1>
                    <div
                        class="block-empty__message"
                        [innerHTML]="'HEADER_MY_LIST_EMPTY_SUBTITLE' | translate">
                    </div>
                    <div class="block-empty__action">
                        <a routerLink="/shop/category/products" class="btn btn-primary btn-sm">{{ 'BUTTON_GO_TO_PRODUCT_OVERVIEW' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <!--Content state-->
    <ng-container *ngIf="data?.products?.length">

        <!--Spacer-->
        <div class="nao-spacer-after-header"></div>

        <div class="block">
            <div class="container container--max--xl">
                <div class="mb-3">
                    <button type="button" class="btn btn-sm btn-primary" (click)="addListToCart()">
                        {{ 'BUTTON_ADD_LIST_TO_CART' | translate }}
                    </button>
                </div>

                <div class='my-list'>
                    <table class='my-list__table'>
                        <thead class='my-list__head'>
                            <tr class='my-list__row my-list__row--head'>
                                <th class='my-list__column my-list__column--head my-list__column--image'>{{ 'TABLE_IMAGE' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--product'>{{ 'TABLE_PRODUCT' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--product'>{{ 'TABLE_VARIANT' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--stock'>{{ 'TABLE_STOCK_STATUS' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--price'>{{ 'TABLE_PRICE' | translate }}</th>
                                <th class='my-list__column my-list__column--head my-list__column--button'></th>
                                <th class='my-list__column my-list__column--head my-list__column--remove'></th>
                            </tr>
                        </thead>
                        <tbody class='my-list__body'>
                            <tr *ngFor="let item of data.products; let index = index" class='my-list__row my-list__row--body'>
                                <td class='my-list__column my-list__column--body my-list__column--image'>
                                    <div class="image image--type--product">
                                        <a [routerLink]="url.product(item.product)" class="image__body">
                                            <img class="image__tag" [src]="item.product | getProductImage:item.variant" alt="">
                                        </a>
                                    </div>
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--product'>
                                    <div class='my-list__product-name'>
                                        <a [routerLink]="url.product(item.product)">{{ item.product?.data?.name }}</a>
                                    </div>
                                    <!--This will have to be connected to ecomm in the future-->
                                    <!--Show rating only if it's allowed in settings-->
                                    <!--<div class="my-list__product-rating" *ngIf="appSettings?.rating">
                                        <div class="my-list__product-rating-stars">
                                            <app-rating [value]="myListItem?.product?.data?.rating || 0"></app-rating>
                                        </div>
                                        <div class="my-list__product-rating-title">
                                            {{ 'TEXT_RATING_LABEL' | translate:{rating: product?.data?.rating, reviews: product.reviews} }}
                                        </div>
                                    </div> -->
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--product'>
                                    <div class='my-list__product-name'>
                                        {{ item.variant?.variantName }}
                                    </div>
                                </td>


                                <td class='my-list__column my-list__column--body my-list__column--stock'>
                                    <app-status-badge
                                        class="product__stock"
                                        [type]="item.product?.data?.availability|stockToStatusBadgeType:item.product?.data?.available"
                                        [text]="item.product?.data?.availability|stockToStatusBadgeText:item.product?.data?.available|translate"
                                    ></app-status-badge>
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--price'>
                                    {{ item.variant?.price | currencyFormat }}
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--button'>
                                    <button
                                        appAddToCart
                                        type="button"
                                        class="btn btn-sm btn-primary"
                                        [class.btn-loading]="addToCart.inProgress"
                                        (click)="addToCart.add(item.product, item.variant)"
                                        #addToCart="addToCart"
                                        [disabled]="!(item.variant?.price >= 0)"
                                    >
                                        {{ 'BUTTON_ADD_TO_CART' | translate }}
                                    </button>
                                </td>
                                <td class='my-list__column my-list__column--body my-list__column--remove'>
                                    <button
                                        type="button"
                                        class='my-list__remove btn btn-sm btn-muted btn-icon'
                                        (click)="remove(index)"
                                    >
                                        <app-icon icon="cross-12"></app-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </ng-container>

    <!--Spacer-->
    <div class="nao-spacer-before-footer"></div>
</div>



