<div class="nao-header-indicator indicator--trigger--click"
     [class.indicator--open]="classIndicatorOpen">
  <!--Account-->
  <ng-container *ngIf="type === 'account'">
    <a href="javascript:void(0)"
       class="btn-round btn-white has-arrow btn__indicator-2"
       (click)="onClick($event)">
      <span>{{ (userData?.email ? 'TEXT_INDICATOR_ACCOUNT_VALUE' : 'HEADER_LOGIN') | translate }}</span>
      <app-icon icon="btnArrow"></app-icon>
    </a>
  </ng-container>

  <!--Cart-->
  <ng-container *ngIf="type === 'cart'">
    <a href="javascript:void(0)"
       class="btn-round nao-btn-simple-primary btn__indicator-1 has-left-icon"
       (click)="onClick($event)">
      <app-icon icon="nao-cart" class="btn-icon"></app-icon>
      <span>{{ (((cart.subtotal$|async) || 0) | currencyFormat: '': '': '2.0-0') || '' }}</span>
    </a>
  </ng-container>

  <!--My list-->
  <ng-container *ngIf="type === 'my-list'">
    <a href="javascript:void(0)"
       routerLink="/shop/my-lists"
       class="btn-round nao-btn-simple-primary btn__indicator-1 has-left-icon"
       (click)="onClick($event)">
      <app-icon icon="nao-cart" class="btn-icon"></app-icon>
      <span>{{ 'HEADER_MY_LISTS' | translate }}</span>
    </a>
  </ng-container>

  <div class="indicator__content">
    <ng-content></ng-content>
  </div>
</div>

