.mr{
  margin-top: 50px;
}
.cart-button-1 {
    background-color: #fd7e14;
    color: #ffffff;
    padding-block: 12px;
    line-height: 14px;
    height: 40px;
    padding-inline: 15px;
    border-radius: 25px;
    font-family: var(--font-family);
    /* margin-inline: 5px; */
    text-decoration: none;
    border: 1px solid #fd7e14;
        transition: all .3s ease-in-out;
  }
  
  .cart-button-1:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #000000;
    background-color: #000000;
  }
  .rst-btn .cart-button-1 {
    padding-inline: 55px;
    margin: 0 auto;
  }
  #sidebar {
    width: 25%;
    padding: 20px;
    float: left
  }
  .sb-link a {
    color: #fd7e14;
    text-decoration: none;
  }
  
  .sb-link a:hover {
    color: #000000;
    text-decoration: none;
  }

  
.slimScrollDiv {
    height: auto !important;
    margin-bottom: 37px;
    width: 250px !important
  }
  .scrollable {
    width: 250px !important;
    background: #eee;
    margin: 0 auto;
    padding: 2.4rem;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  .container {
    max-width: 1400px;  
  }

  .border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}