@import '~ngx-toastr/toastr';
@import 'scss/bootstrap';
@import 'scss/style';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// *****************************************************
// Theme - Any custom styling should be add to this file so you would could keep our updates
@import "scss/theme/theme";
