<!--Spacer-->
<div class="nao-spacer-ledge-height"></div>

<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                {{ 'PAGE_404_TITLE' | translate }}
            </div>

            <div class="error__content">
                <p class="error__text">{{ 'PAGE_404_DESCRIPTION' | translate }}</p>

                <a class="btn btn-secondary btn-sm" [routerLink]="url.home()">{{ 'GO_TO_HOME_PAGE' | translate }}</a>
            </div>
        </div>
    </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
