<!--Spacer-->
<div class="nao-spacer-ledge-height"></div>

<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Oops! Error 404
            </div>

            <div class='error__content'>

                <p class='error__text'>
                    We can't seem to find the page you're looking for.
                </p>

                <a class="btn btn-secondary btn-sm" [routerLink]="url.home()">Go To Home Page</a>
            </div>
        </div>
    </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>
