
    <ng-template #parent let-item="item">
        <ng-container *ngIf="item.parent">
            <ng-container *ngTemplateOutlet="parent; context: {item: item.parent}"></ng-container>
        </ng-container>
        <a class="sb-link" href="javascript:void(0)" (click)="redirectCategory(item)">{{ item.name }}</a>
    </ng-template>
    <div class="py-2 border-bottom ml-3">
        <a *ngIf="options.value" class="sb-link">
            <p>  <b><a href="javascript:void(0)" (click)="redirectToAllProducts()">{{ 'LINK_ALL_PRODUCTS' | translate }}</a></b></p> 
        </a>
        <h6 class="font-weight-bold">Categories</h6>
            <div id="orange"><span class="fa fa-minus"></span></div>
        <div class="cat-box scrollable">
            <ul>
           
            <ng-container *ngFor="let item of options.items">
                <ng-container *ngIf="item.parent">
                    <ng-container *ngTemplateOutlet="parent; context: {item: item.parent}"></ng-container>
                </ng-container>
                <b></b>
                <li class="" [class.filter-category__item--current]="+options.value === item.id">
                    <a href="javascript:void(0)" (click)="redirectCategory(item)">{{ item.name }}</a>
                </li>
                <ng-container *ngFor="let child of item.children">
                    <li class="">
                        <a href="javascript:void(0)" (click)="redirectCategory(child)">{{ child.name }}</a>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
    </div>
</div>
    