
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .inner-heading {
    background:url(..\..\..\..\assets\images\inner-bg.jpg);
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
   width: 100%;
   text-align: center;
   display: block;
   padding: 50px;
  }
  
  .inner-heading h3 {
   /* font-family: var(--font-family); */
   color: #fd7e14;
   font-size: 36px;
   padding-left: 15px;
  }
  
  hr.new1 {
   border-top: 1px solid #fd7e14;
   width: 50%;
  }
  