<!--Hero-->
<div class="nao-section-radial-gradient-1" *ngIf="pageInfo?.hero">
  <div class="container">
    <div class="hero-section">
      <div class="d-flex flex-column justify-content-center">
        <h1 class="nao-title" *ngIf="pageInfo?.hero?.title">{{ pageInfo.hero.title }}</h1>
        <h2 class="nao-description" *ngIf="pageInfo?.hero?.description">{{ pageInfo.hero.description }}</h2>
        <div>
          <button type="button" class="btn btn-primary"
                  routerLink="/shop/category/products">{{ 'BUTTON_EXPLORE_PRODUCTS' | translate }}</button>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <img [src]="pageInfo?.hero?.imageUrl" naoFallbackImage fallbackImage="assets/images/image-not-available.png">
      </div>
    </div>
  </div>
</div>

<!--Key partners-->
<div class="container position-relative nao-pb-36 nao-pt-36" *ngIf="pageInfo?.partnerLogos?.length">
  <div class="nao-title-2 nao-mb-12 text-center">{{ 'TEXT_KEY_PARTNERS' | translate }}</div>

  <div class="nao-icons-grid-4">
    <div class="nao-icon-item" *ngFor="let item of pageInfo.partnerLogos">
      <img [src]="item.cdnLink" fetchpriority="low" decoding="async">
    </div>
  </div>
</div>

<!--Featured categories-->
<div class="container nao-pt-36" *ngIf="pageInfo?.featuredCategories?.length">
  <div class="nao-grid-custom-4-elements-2">
    <!--Iterate over featured categories-->
    <div class="nao-card-5" *ngFor="let item of pageInfo?.featuredCategories">
      <div class="nao-card-title">
        {{ item.title }}
      </div>
      <div class="nao-card-content">
        {{ item.description }}
      </div>
      <div class="nao-mt-16">
        <a href="javascript:void(0)" [routerLink]="item.routerLink" class="nao-btn-arrow-2">
          {{ 'TEXT_BANNER_ONE_BUTTON' | translate }}
          <svg class="HoverArrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
            <g fill-rule="evenodd">
              <path class="HoverArrow__linePath" d="M0 5h7"></path>
              <path class="HoverArrow__tipPath" d="M1 1l4 4-4 4"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Most searched products-->
<div class="container nao-pt-100 nao-pb-100" *ngIf="pageInfo?.mostSearchProducts?.length">
  <div class="nao-title-3 nao-mb-48 text-center">
    <span class="nao-text-gradient-1">
      {{ 'TEXT_MOST_SEARCHED_PRODUCTS' | translate }}
    </span>
  </div>

  <div class="emulated-flex-gap-12of8 justify-content-center">
    <a href="javascript:void(0)"
       class="nao-badge-link"
       [routerLink]="item.routerLink"
       *ngFor="let item of pageInfo.mostSearchProducts">
      {{ item.name }}
    </a>
  </div>
</div>

<!--KPI section-->
<div class="nao-bg-2-gradient" *ngIf="pageInfo?.keyAdvantages?.show">
  <div class="container nao-pt-100 nao-pb-100">
    <div class="nao-title-2 nao-mb-12 text-center">{{ pageInfo.keyAdvantages.description }}</div>

    <div class="nao-title-3 nao-mb-24 text-center">
      <span class="nao-text-gradient-2">
       {{ pageInfo.keyAdvantages.title }}
      </span>
    </div>

    <div class="nao-card-info-layout">
      <div class="variant-stat" *ngFor="let item of pageInfo.keyAdvantages.items">
        <div class="variant-image-container">
          <ng-container [ngSwitch]="item.icon">
            <img src="assets/images/icons/shipping-methods.png" *ngSwitchCase="'truck'">
            <img src="assets/images/icons/ecommerce-storefront.png" *ngSwitchCase="'store'">
            <img src="assets/images/icons/approval-app.png" *ngSwitchCase="'stamp'">
            <img src="assets/images/icons/call.png" *ngSwitchDefault>
          </ng-container>

        </div>
        <div class="variant-title">{{ item.title }}</div>
        <div class="variant-description">{{ item.description }}</div>
      </div>
    </div>
  </div>
</div>


<!--Featured products-->
<div class="container nao-pt-100 nao-pb-100" *ngIf="pageInfo?.featuredProducts?.products?.length">
  <div class="nao-title-2 nao-mb-12 text-center">{{ 'TEXT_PRODUCT_HITS' | translate }}</div>

  <div class="nao-title-3 nao-mb-36 text-center">
      <span class="nao-text-gradient-2">
       {{ 'TEXT_EXPLORE_THE_BEST_SELLING_PRODUCTS' | translate }}
      </span>
  </div>

  <div class="position-relative products-view__list products-list products-list--grid--4">
    <!--Products-->
    <div class="products-list__content">
      <app-product-card
        *ngFor="let product of pageInfo?.featuredProducts?.products"
        layout="grid"
        class="products-list__item"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>


<!--Best selling categories-->
<div class="nao-bg-2" *ngIf="pageInfo?.bestSellingCategories?.categories?.length">
  <div class="container nao-pt-100 nao-pb-100">
    <div class="nao-title-2 nao-mb-12 text-center">{{ 'TEXT_BEST_SELLING_CATEGORIES' | translate }}</div>

    <div class="nao-title-3 nao-mb-36 text-center">
      <span class="nao-text-gradient-4">
       {{ 'TEXT_BEST_SELLING_CATEGORIES_DESCRIPTION' | translate }}
      </span>
    </div>

    <div class="position-relative products-view__list products-list products-list--grid--5">
      <div class="products-list__content">
        <div class="nao-category-card products-list__item"
             *ngFor="let item of pageInfo?.bestSellingCategories?.categories">

          <div class="nao-category-card__content">
            <!--Category image-->
            <div class="nao-category-card__image-container">
              <img [src]="item.imageUrl" [alt]="item.name" height="100" naoFallbackImage fetchpriority="low" decoding="async">
            </div>
            <!--Category name-->
            <div class="nao-category-card__name-container">
              <a class="nao-category-card__name" >{{ item?.name }}</a>
            </div>

            <div class="nao-card-card__info-section">
              {{ item.itemsNo || 0 }} items
            </div>

            <!--Category card footer-->
            <div class="nao-category-card__footer">
              <!--Shop category-->
              <button
                type="button"
                [routerLink]="item.routerLink"
                class="nao-btn nao-btn-sm nao-btn-simple-primary">
                {{ 'Shop category' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!--Seasonal products-->
<div class="container nao-pt-100 nao-pb-100" *ngIf="pageInfo?.seasonalProducts?.products?.length">
  <div class="nao-title-2 nao-mb-12 text-center">{{ 'TEXT_SEASONAL_FAVORITES' | translate }}</div>

  <div class="nao-title-3 nao-mb-36 text-center">
      <span class="nao-text-gradient-3">
       {{ 'TEXT_EXPLORE_SEASONAL_FAVORITES' | translate }}
      </span>
  </div>

  <div class="position-relative products-view__list products-list products-list--grid--4">
    <!--Products-->
    <div class="products-list__content">
      <app-product-card
        *ngFor="let product of pageInfo?.seasonalProducts?.products"
        layout="grid"
        class="products-list__item"
        [product]="product"
      ></app-product-card>
    </div>
  </div>
</div>


<!--Category explainers-->
<div class="nao-bg-2" *ngIf="pageInfo?.categoryExplainers.show">
  <div class="container nao-category-explainers nao-pt-100 nao-pb-100">

    <div class="nao-category-explainer-card" *ngFor="let item of pageInfo?.categoryExplainers?.categories">
      <div class="category-explainer-content">
        <div class="explainer-name">{{ item.name }}</div>
        <div class="explainer-description">{{ item.description }}</div>
        <div class="explainer-button">
          <a href="javascript:void(0)" [routerLink]="item.routerLink" class="nao-btn-arrow-2">
            {{ item.buttonCopy }}
            <svg class="HoverArrow" width="10" height="10" viewBox="0 0 10 10" aria-hidden="true">
              <g fill-rule="evenodd">
                <path class="HoverArrow__linePath" d="M0 5h7"></path>
                <path class="HoverArrow__tipPath" d="M1 1l4 4-4 4"></path>
              </g>
            </svg>
          </a>
        </div>
      </div>

      <div class="category-explainer-image-card">
        <div>
          <img [src]="item.imageUrl" [alt]="item.name" naoFallbackImage fetchpriority="low" decoding="async">
        </div>
      </div>

    </div>

  </div>

</div>






