.logo__image {
  img {
    max-width: 160px;
    max-height: 32px;
    object-fit: contain;
  }
}

.mobile-header__logo {
  img {
    max-width: 120px;
    max-height: 22px;
    object-fit: contain;
  }
}

.nao-pt-32 {
  padding-top: 32px !important;
}

.nao-ml-8 {
  margin-left: 8px !important;
}

.nao-mr-8 {
  margin-right: 8px !important;
}

.nao-mb-24 {
  margin-bottom: 24px !important;
}
