// **********************************************
// TODO: move define root variables

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin generate-colors($colors) {
  // Colors, RGB Colors
  @each $color, $value in $colors {
    @if str-slice(#{$value}, 1, 1) == "#" {
      --#{"" + $color}: #{$value};
      --#{"" + $color}-rgb: #{hexToRGB($value)};
    } @else {
      --#{"" + $color}: var(--#{$value});
      --#{"" + $color}-rgb: var(--#{$value}-rgb);
    }
  }
}


$nao-colors-default: (
  primary-600: #000293,
  primary: #3E40DB,
  primary-400: #5659FF,
  primary-300: #6869D3,
  primary-200: #7880FF,
  primary-100: #AAAFFF,

  secondary-500: #0073FF,
  secondary: #4576FF,
  secondary-300: #2CB1FF,
  secondary-200: #77B8FF,
  secondary-100: #E4F1FF,

  purple-300: #8800FF,
  purple-200: #AE48FF,
  purple-100: #E7CCFF,

  magenta-300: #B800A9,
  magenta-200: #FF77F4,
  magenta-100: #FFE4FD,

  cyan-300: #00B0BF,
  cyan-200: #77F4FF,
  cyan-100: #E4FDFF,

  yellow-300: #FFB800,
  yellow-200: #F9D065,
  yellow-100: #FEF6E0,

  success: #3EDB8B,
  success-light: #D8F8E8,
  success-dark: #08A268,

  warning: #FFA544,
  warning-light: #FFEDDA,
  warning-dark: #EE7C00,

  danger: #DB3E8E,
  danger-light: #F8D8E8,
  danger-dark: #B6005D,

  text-primary: #030929,
  text-2: #2F3059,
  text-3: #4E4F84,
  text-4: #687196,
  text-5: #A4AAC0,
  text-6: #D8DCEB,

  shadow-1: #C8CFE9,
  shadow-2: #E6EBF0,
  shadow-3: #D8DCEB,
  shadow-4: #687196,
  shadow-5: #A3A9C0,

  bg-1: #F6F8FB,
  bg-2: #F7F9FC,
  bg-3: #F7F8FC,
  bg-4: #F9FAFF,
  bg-5: #f1f3f8,

  modal-bg-light: #f3f4ff,
  modal-bg-warning: #fff8ef,
  modal-bg-danger: #fff2fe,

  toaster-bg-dark: #47484C,

  hover-1: #FAFBFD,
  hover-2: #FAFBFD,
  separator: #E6EBF0,
  separator-2: #CACCD7,
  icon-default: #C8CFE9,

  white: #FFF,
  input-border-color: #e9eef9,
  border-color: #e3e5f0
);

:root {
  // -->Variables used in product cards for now
  --product-card-bg: #FDFDFE;
  --border-1: #E9EEF9;
  --box-shadow-1: 0 4px 4px -2px #D6D9FF, 0 1.5px 3px -1px #C8CFE9, 0 1px 0.5px -1px #D8DCEB;

  @include generate-colors($nao-colors-default);
}


// **********************************************
// Base
@import 'variables';
@import 'functions';
@import 'mixins/direction';
@import 'mixins/breakpoints';
@import 'mixins/scheme';
@import 'mixins/card';
@import 'constants';

// **********************************************
// Common
@import 'common/animations';
@import 'common/base';
@import 'common/document';
@import 'common/grid';
@import 'common/header';
@import 'common/site';

// **********************************************
// Components
@import 'components/alert';
@import 'components/arrow';
@import 'components/avatar-icon';
@import 'components/breadcrumb';
@import 'components/btn';
@import 'components/button-toggle';
@import 'components/card';
@import 'components/card-table';
@import 'components/collapse-area';
@import 'components/container';
@import 'components/decor';
@import 'components/filters-button';
@import 'components/form';
@import 'components/form-control';
@import 'components/image';
@import 'components/input-check';
@import 'components/input-check-color';
@import 'components/input-number';
@import 'components/input-radio';
@import 'components/input-radio-color';
@import 'components/input-radio-label';
@import 'components/layout-switcher';
@import 'components/loading-bar';
@import 'components/modal';
@import 'components/ngx-slider';
@import 'components/ngx-toastr';
@import 'components/nouislider';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'components/owl-prevent-click';
@import 'components/pagination';
@import 'components/rating';
@import 'components/section-header';
@import 'components/select2';
@import 'components/share-links';
@import 'components/shop-features';
@import 'components/sidebar';
@import 'components/social-links';
@import 'components/status-badge';
@import 'components/tag-badge';
@import 'components/tags';
@import 'components/teammate';
@import 'components/timer';
@import 'components/tooltip';
@import 'components/typography';
@import 'components/view-options';
@import 'components/widget';

// **********************************************
// Filters
@import 'filters/filter';
@import 'filters/filter-category';
@import 'filters/filter-color';
@import 'filters/filter-list';
@import 'filters/filter-range';
@import 'filters/filter-rating';

// **********************************************
// Layout
@import 'layout/header';
@import 'layout/mobile-header';
@import 'layout/footer';

// **********************************************
// Pages
@import 'pages/about';
@import 'pages/account';
@import 'pages/contacts';
@import 'pages/faq';
@import 'pages/error';

// **********************************************
// Blocks
@import 'blocks/block-brands';
@import 'blocks/block-empty';
@import 'blocks/block-header';
@import 'blocks/block-products-carousel';
@import 'blocks/block-slideshow';
@import 'blocks/block-space';
@import 'blocks/block-split';

// **********************************************
// Widgets
@import 'widgets/widget-filters';
@import 'widgets/widget-products';

// **********************************************
// Shop
@import 'shop/analogs-table';
@import 'shop/applied-filters';
@import 'shop/cart';
@import 'shop/cart-table';
@import 'shop/categories-list';
@import 'shop/category-card';
@import 'shop/checkout';
@import 'shop/compare';
@import 'shop/compare-table';
@import 'shop/order-header';
@import 'shop/order-list';
@import 'shop/order-success';
@import 'shop/payment-methods';
@import 'shop/product';
@import 'shop/product-card';
@import 'shop/product-form';
@import 'shop/product-gallery';
@import 'shop/product-tabs';
@import 'shop/products-list';
@import 'shop/products-view';
@import 'shop/quickview';
@import 'shop/review';
@import 'shop/reviews-list';
@import 'shop/reviews-view';
@import 'shop/spec';
@import 'shop/my-list';







// *****************************************************
// New buttons
@import 'nao/buttons';



// **********************************************
// Home page


.me-8 {
  margin-right: 8px !important;
}

.emulated-flex-gap-12of24 {
  --gapX: 24px;
  --gapY: 12px;

  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gapY)) 0 0 calc(-1 * var(--gapX));
  width: calc(100% + var(--gapX));

  &>* {
    margin: var(--gapY) 0 0 var(--gapX);
  }
}

.emulated-flex-gap-12of8 {
  --gapX: 8px;
  --gapY: 12px;

  display: inline-flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gapY)) 0 0 calc(-1 * var(--gapX));
  width: calc(100% + var(--gapX));

  &>* {
    margin: var(--gapY) 0 0 var(--gapX);
  }
}


// *****************************************************
// Scrollbars
.nao-fancy-scrollbar-sm {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-track-piece {
    background: rgba(9, 30, 66, .08);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(9, 30, 66, .2);
    border-radius: 4px;
  }
}


.create-an-account-link {
  margin-left: 32px;
  color: #6c757d;
  transition: color 0.1s;

  &:hover {
    color: inherit;
  }

  @include media-breakpoint-down(xs) {
    margin-left: 24px;
  }
}

.font-size-13 {
  font-size: 13px;
}

// disable buttons
button.disabled, button:disabled {
  opacity: 0.65;
}

// message text
.message-text-not-logged {
  font-size: 12px;
  line-height: 18px;
  color: #687196;
  margin-top: 8px;
}


.box-disable-input-placeholder {
  height: 44px;
  border-radius: 6px;
  background: rgba(var(--text-6-rgb), 0.2);
  padding: 12px 8px;
  font-size: 28px;
  font-weight: $font-weight-medium;
  line-height: 18px;
  color: rgba(var(--text-primary-rgb), 0.1);
  max-width: 165px;
  width: 100%;
}

// *****************************************************
// Nao badge pill
.nao-badge-pill {
  display: inline-block;
  vertical-align: baseline;
  padding: 0.375rem 0.625rem;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: 13.5px;

  &.badge-danger {
    background-color: rgba(182, 0, 93, .2);
    color: #db3e8e;
  }

  &.badge-success {
    background-color: rgba(62, 219, 139, .2);
    color: #08a268;
  }

  &.badge-grey {
    background-color: rgba(104, 113, 150, .1);
    color: #687196;
  }

  &.badge-secondary-500 {
    background-color: #e4f1ff;
    color: #0073ff;
  }

  &.badge-secondary-200 {
    background-color: rgba(119, 184, 255, .2);
    color: #0073ff;
  }

  &.badge-secondary-300 {
    background-color: #e4f1ff;
    color: #2cb1ff;
  }

  &.badge-warning {
    background-color: rgba(255, 165, 68, .2);
    color: #ffa544;
  }

  &.badge-purple {
    background-color: #e7ccff;
    color: #80f;
  }

  &.badge-magenta {
    background-color: #ffe4fd;
    color: #b800a9;
  }

  &.badge-primary {
    background-color: rgba(62, 64, 219, .2);
    color: #3e40db;
  }
}

// *****************************************************
// Table loader
.nao-loader-table {
  animation: fadeIn 1s infinite alternate;
  margin: 0;

  .row-loading {
    height: 48.5px;
    align-items: center;
    display: flex;
  }

  .content-loading {
    align-self: center;
    border-radius: 4px;
    background-color: #C8CFE9;
    width: 100%;
    min-height: 16px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}


a {
  &.disabled {
    opacity: 0.6;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}


// **********************************************
// Home page
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  padding-top: 100px;
  padding-bottom: 32px;

  .nao-title {
    font-weight: $font-weight-black;
    font-size: 45px;
    line-height: 53px;
    color: var(--primary);
    margin-bottom: 16px;
  }

  .nao-description {
    font-size: 18px;
    line-height: 25px;
    color: var(--text-2);
    margin-bottom: 16px;
    font-weight: normal;
  }

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    grid-template-columns: 1fr;
  }
}
// ***************************************
// Nao section radial gradients
.nao-section-radial-gradient-1 {
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-image: radial-gradient(500px 500px at calc(50% + 500px) 31%, rgba(167, 200, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);

    @media only screen and (max-width: 980px) {
      background-image: radial-gradient(300px 300px at calc(90%) 31%, rgba(167, 200, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    }
  }
}

// *******************************************************************************
// Card used for custom grids
.nao-card-5 {
  border-radius: 12px;
  padding: 20px;
  background: var(--white);
  overflow: hidden;
  position: relative;
  box-shadow: 0 13px 27px -5px #C8CFE9, 0 0 16px -8px #E6EBF0;

  .nao-card-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .nao-card-content {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-3);
  }

  &.has-bg-gradient-1 {
    background-image: linear-gradient(116deg, #5BFFC7 0%, #F8DBFB 100%);
  }

  &.has-bg-gradient-2 {
    background-image: linear-gradient(0deg, #FFDBFC 0%, #45C4EB 100%);
  }

  &.has-bg-gradient-3 {
    background-image: linear-gradient(180deg, #FAE0FF 0%, #C29BFF 100%);
  }

  &.has-bg-gradient-4 {
    background-image: linear-gradient(180deg, #FFFFFF 0%, #FFF3FE 100%);
  }
}


// *******************************************************************************
// Grid with 4 elements
// - first element is used similar to a sidebar, expanded on 2 rows
// - second element is full width on both columns
// - third and fourth are used by spliting the space on the second row
.nao-grid-custom-4-elements {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(226px, auto);
  gap: 24px;


  @include media-breakpoint-up(lg) {
    .grid-element-1 {
      grid-row: 1 / span 2;
      grid-column: 1 / 3;
    }

    .grid-element-2 {
      grid-row: 1;
      grid-column: 3 / 9;
    }

    .grid-element-3 {
      grid-row: 2;
      grid-column: 3 / 6;
    }

    .grid-element-4 {
      grid-row: 2;
      grid-column: 6 / 9;
    }
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}

// *******************************************************************************
// Grid with 4 elements version 2
// - first element is used similar to a sidebar, expanded on 2 rows
// - second and third are used by spliting the space on the first row, but the second element is smaller
// - forth element is using the remaining width on the second row
.nao-grid-custom-4-elements-2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(226px, auto);
  gap: 24px;


  @include media-breakpoint-up(lg) {
    .grid-element-1 {
      grid-row: 1 / span 2;
      grid-column: 1 / 3;
    }

    .grid-element-2 {
      grid-row: 1;
      grid-column: 3 / 5;
    }

    .grid-element-3 {
      grid-row: 1;
      grid-column: 5 / 9;
    }

    .grid-element-4 {
      grid-row: 2;
      grid-column: 3 / 9;
    }
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}


// *******************************************************************************
// Icons grid
.nao-icons-grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

  .nao-icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;

    img {
      max-width: 150px;
      max-height: 82px;
    }
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr;
  }

  &.mobile-1-column {
    @include media-breakpoint-down(xs) {
      grid-template-columns: 1fr;
    }
  }
}

.nao-title-2 {
  font-size: 18px;
  letter-spacing: 0.51px;
  font-weight: $font-weight-medium;
  color: var(--text-4)
}

.nao-title-3 {
  font-size: 24px;
  font-weight: $font-weight-medium;
  color: var(--text-primary);
}

.nao-badge-link {
  border-radius: 18px;
  background: rgba(var(--primary-rgb), 0.2);
  font-size: 18px;
  padding: 6px 12px;
  font-weight: $font-weight-medium;
  color: var(--primary);

  &:hover {
    color: var(--primary);
  }
}

// **********************************************************
// NAO text gradients
.nao-text-gradient-1, .nao-text-gradient-2, .nao-text-gradient-3, .nao-text-gradient-4 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nao-text-gradient-1 {
  background-image:  linear-gradient(90deg, #0445B5 0%,  #052EB2 100%);
}
.nao-text-gradient-2 {
  background-image:  linear-gradient(90deg, #3DADD0 0%,  #052EB2 100%);
}
.nao-text-gradient-3 {
  background-image:  linear-gradient(90deg, #812BED 0%, #5753DC 50%,  #2A7DCA 100%);
}
.nao-text-gradient-4 {
  background-image:  linear-gradient(90deg, #D05C85 0%, #B620E0 50%,  #7E67EC 100%);
}

.nao-bg-2-gradient {
  background: linear-gradient(90deg, #F6F8FB 0%, #F6F8FB 40%, #FFFFFF 59%, #FFFFFF 100%);
}

.nao-bg-2 {
  background: var(--bg-2);
}

// **********************************************************
// NAO text gradients
.nao-card-info-layout {
  padding: 12px 8px;
  display: grid;
  gap: 24px;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);

  &.has-bg {
    background: var(--product-card-bg);
    border-radius: 5px;
    border: 1px solid var(--border-1);
    box-shadow: var(--box-shadow-1);
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  .variant-stat {
    padding: 12px 16px;

    .variant-image-container {
      margin-bottom: 16px;
    }

    .variant-title {
      position: relative;
      font-size: 18px;
      font-weight: $font-weight-bold;
      margin-bottom: 8px;

      &::before {
        display: block;
        position: absolute;
        content: "";
        top: 0;
        left: -16px;
        width: 1px;
        height: 30px;
        background-color: var(--primary);
      }
    }

    .variant-description {
      font-size: 12px;
      line-height: 18px;
      color: var(--text-4);
    }
  }
}

// **********************************************
// Category card
//
.nao-category-card {
  padding: 24px 16px;
  border: 1px solid var(--border-1);
  transition: all .05s ease-in-out;
  border-radius: 5px;


  // -->Content: for Category card
  .nao-category-card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .nao-category-card__name-container {
    margin-top: 18px;
    padding-right: 21px;
    position: relative;
    margin-bottom: 4px;

    // -->Category card name
    .nao-category-card__name {
      font-weight: $font-weight-bold;
      position: relative;
      color: var(--text-primary);

      &:hover {
        color: var(--text-primary);
      }

      &::before {
        box-sizing: border-box;
        content: '';
        display: block;
        position: absolute;
        left: -17px;
        top: 0;
        height: 30px;
        border-left: 1px solid var(--primary);
      }
    }
  }

  // -->Information
  .nao-card-card__info-section {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-4)
  }

  .nao-category-card__footer {
    opacity: 0;
  }

  // -->Hover and active state
  &:hover, &:active {
    background-color: var(--product-card-bg);
    box-shadow: var(--box-shadow-1);


    .nao-category-card__footer {
      opacity: 1;
    }
  }

  // -->Show: the hover effect on mobile
  @include media-breakpoint-down(lg) {
    background-color: var(--product-card-bg);
    box-shadow: var(--box-shadow-1);


    .nao-category-card__footer {
      opacity: 1;
    }
  }
}
