<!-- --Spacer-- -->
<!--Spacer-->
<div class="nao-spacer-before-block-header"></div>

<ng-container *ngIf="cart.items.length <= 0">
    <app-block-header
        [breadcrumb]="[
            {label: 'LINK_HOME' | translate, url: url.home()},
            {label: 'LINK_CART' | translate, url: url.cart()}
        ]"
    ></app-block-header>

    <div class="block-empty">
        <div class="container">
            <div class="block-empty__body">
                <h1 class="block-empty__title">{{ 'HEADER_SHOPPING_CART_EMPTY_TITLE' | translate }}</h1>
                <div class="block-empty__message" [innerHTML]="'HEADER_SHOPPING_CART_EMPTY_SUBTITLE' | translate">
                </div>
                <div class="block-empty__action">
                    <a routerLink="/" class="btn btn-primary btn-sm">{{ 'BUTTON_GO_TO_HOMEPAGE' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<div class="cart-section" *ngIf="cart.items.length > 0">
    <app-block-header
        [pageTitle]="'HEADER_SHOPPING_CART' | translate"
        [breadcrumb]="[
            {label: 'LINK_HOME' | translate, url: url.home()},
            {label: 'LINK_CART' | translate, url: url.cart()}
        ]"
    ></app-block-header>
    <div class="margin"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 right-bdr">
                <div class="shopping-cart">
                    <div class="column-labels">
                        <label class="product-image">{{ 'TABLE_IMAGE' | translate }}</label>
                        <label class="product-details">{{ 'TABLE_PRODUCT' | translate }}</label>
                        <label class="product-price">{{ 'TABLE_PRICE' | translate }}</label>
                        <label class="product-quantity">{{ 'TABLE_QUANTITY' | translate }}</label>
                        <label class="product-removal">Remove</label>
                        <label class="product-line-price">{{ 'TABLE_TOTAL' | translate }}</label>
                    </div>
                    <div *ngFor="let item of cart.items; index as i" class="product" appRemoveFromCart
                        #removeFromCart="removeFromCart">
                        <div class="product-image">
                            <a [routerLink]="url.product(item.product)" class="image__body">
                                <img class="image__tag" [src]="item.product | getProductImage: item.variant" alt="">
                            </a>
                        </div>
                        <div class="product-details">
                            <div [routerLink]="url.product(item.product)" class="product-title">{{
                                    item.product.data?.name }}</div>
                            <p class="product-description">Variant: {{ item.variant.variantName }}</p>
                        </div>
                        <div class="product-price" [attr.data-title]="'TABLE_PRICE' | translate" > {{ item.variant.price | currencyFormat }}</div>
                        <div class="product-quantity" [attr.data-title]="'TABLE_QUANTITY' | translate">
                            <input type="number" [min]="1" [formControl]="quantityControls[i]" [class.btn-loading]="updating" [disabled]="!needUpdate()"
                            (click)="update()">
                        </div>
                        <div class="product-removal">
                            <button class="remove-product" [class.btn-loading]="removeFromCart.inProgress"
                            (click)="removeFromCart.remove(item)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="product-line-price" [attr.data-title]="'TABLE_TOTAL' | translate">{{ item.variant.price * item.quantity | currencyFormat }}</div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="totals">
                    <div class="cart-hd">
                        <h4> {{ 'HEADER_CART_TOTAL' | translate }} </h4>
                    </div>
                    <!-- <div class="totals-item">
                        <label>Subtotal</label>
                        <div class="totals-value" id="cart-subtotal">71.97</div>
                    </div> -->

                    <div class="totals-item totals-item-total">
                        <label>{{ 'TABLE_TOTAL' | translate }}</label>
                        <div class="totals-value" id="cart-total">{{ ((cart.total$|async) || 0) | currencyFormat }}</div>
                    </div>
                </div>
                <div class="total-cart-button">
                    <button class="cart-button-2" [routerLink]="url.checkout()">{{ 'BUTTON_PROCEED_TO_CHECKOUT' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Spacer-->
<div class="nao-spacer-before-footer"></div>