<div class="emulated-flex-gap-8 align-items-center" *ngIf="data?.show && data?.socialMedia?.length">
  <ng-container *ngFor="let item of data?.socialMedia">
    <a [href]="item.url" target="_blank">
      <img [src]="getImageSrc('assets/images/social/twitter')" alt="Twitter" width="28" height="22" *ngIf="item.socialMediaType === 'twitter'">
      <img [src]="getImageSrc('assets/images/social/youtube')" alt="Youtube" width="32" height="22" *ngIf="item.socialMediaType === 'youtube'">
      <img [src]="getImageSrc('assets/images/social/instagram')" alt="Instagram" width="22" height="22" *ngIf="item.socialMediaType === 'instagram'">
      <img [src]="getImageSrc('assets/images/social/tiktok')" alt="TikTok" width="20" height="22" *ngIf="item.socialMediaType === 'tiktok'">
      <img [src]="getImageSrc('assets/images/social/linkedin')" alt="Linkedin" width="20" height="20" *ngIf="item.socialMediaType === 'linkedin'">
      <img [src]="getImageSrc('assets/images/social/facebook')" alt="Facebook" width="22" height="22" *ngIf="item.socialMediaType === 'facebook'">
    </a>
  </ng-container>
</div>
