<div class="modal fade" tabindex="-1" role="dialog" bsModal #modal="bs-modal">
    <div class="modal-dialog modal-dialog-centered quickview">
        <div *ngIf="product" class="modal-content">
            <button type="button" class="quickview__close" (click)="modal.hide()">
                <app-icon icon="dismiss"></app-icon>
            </button>

            <!--Quick view body-->
            <div class="quickview__body" [formGroup]="form">
                <!--App gallery-->
                <div class="quickview__gallery-container d-flex align-items-center justify-content-center">
                    <app-product-gallery
                            *ngIf="showGallery"
                            class="quickview__gallery"
                            layout="quickview"
                            [images]="(product?.data?.variants[variantIndex]?.images?.length ? product?.data?.variants[variantIndex]?.images : product?.data?.images) || []"
                    ></app-product-gallery>
                </div>


                <!--Quick view product-->
                <div class="quickview__product">
                    <div class="quickview__product-name">
                        {{ product.data?.name }}
                    </div>

                    <div class="quickview__product-meta emulated-flex-gap-12of24">
                        <div *ngIf="appSettings.showProductSku">
                            <div class="product-meta__label">{{ 'TABLE_SKU' | translate }}</div>
                            <div class="product-meta__value">{{ product?.data?.variants[variantIndex]?.sku || product.data?.sku }}</div>
                        </div>
                        <div *ngIf="product?.data?.manufacturer?.data?.name">
                            <div class="product-meta__label">{{ 'TABLE_BRAND' | translate }}</div>
                            <div class="product-meta__value">{{ product?.data?.manufacturer.data.name }}</div>
                        </div>
                        <div *ngIf="product?.data?.variants[variantIndex]?.manufacturerItemCode">
                            <div class="product-meta__label">{{ 'TABLE_PART_NUMBER' | translate }}</div>
                            <div class="product-meta__value">{{ product?.data?.variants[variantIndex]?.manufacturerItemCode }}</div>
                        </div>
                    </div>


                    <app-product-variants
                            *ngIf="product?.data?.options?.length > 0"
                            formControlName="options"
                            class="quickview__product-form"
                            [options]="product?.data?.options"
                            [variants]="product?.data?.variants"
                    ></app-product-variants>

                    <div class="quickview__product-actions">

                        <div class="quickview__product-prices-stock" *showPrice>
                            {{ product?.data?.variants[variantIndex]?.price | currencyFormat }}
                        </div>

                        <!--Now price placeholder-->
                        <div class="box-disable-input-placeholder" *ShowOnlyIfOnlyLoggedUsersSeePrices>
                            $
                        </div>

                        <div class="product-actions-controls">
                            <div>
                                <app-input-number formControlName="quantity" [min]="1"></app-input-number>
                            </div>

                            <div class="nao-ml-8">
                                <button
                                        disableIfNotLoggedIn
                                        class="btn btn-primary btn-block"
                                        [class.btn-loading]="addToCartInProgress"
                                        [disabled]="!(product?.data?.variants[variantIndex]?.price >= 0)"
                                        (click)="addToCart()"
                                >
                                    {{ 'BUTTON_ADD_TO_CART' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="message-text-not-logged" *ShowOnlyIfOnlyLoggedUsersSeePrices>
                        {{ 'TEXT_YOU_NEED_TO_LOGIN_FOR_PRICE' | translate }}
                    </div>
                </div>
            </div>


            <!--Quick view footer-->
            <div class="quickview__footer">

                <div appDropdown
                     *ngIf="isLoggedIn"
                     class="position-relative"
                     [class.my-lists__menu--open]="myListsDropdown.isOpen"
                     #myListsDropdown="appDropdown">
                    <button
                            type="button"
                            appAddToMyLists
                            (click)="myListsDropdown.toggle()"
                            #addToMyLists="addToMyLists"
                            class="nao-btn nao-btn-sm nao-btn-simple-primary has-left-icon me-8">
                        <app-icon icon="favorite" class="btn-icon"></app-icon>
                        <span>{{ 'TEXT_ADD_TO_LIST' | translate }}</span>
                    </button>

                    <div class="my-lists__menu-body" (mouseleave)="myListsDropdown.close()">
                        <button
                                *ngFor="let item of addToMyLists.myLists"
                                class="my-lists__menu-item"
                                type="button"
                                (click)="addToMyLists.add(item.docId, product, product.data?.variants[variantIndex]); myListsDropdown.close()">
                            {{ item.data?.name }}
                        </button>
                        <!--Empty state-->
                        <div class="p-3 text-center" *ngIf="!addToMyLists.myLists || addToMyLists.myLists.length === 0">
                            {{ 'MY_LISTS_EMPTY_STATE_START' | translate }}
                            <a href="javascript:void(0)"
                               routerLink="/shop/my-lists">{{ 'MY_LISTS_EMPTY_STATE_LINK' | translate }}</a>
                            {{ 'MY_LISTS_EMPTY_STATE_END' | translate }}
                        </div>
                    </div>
                </div>

                <button
                        type="button"
                        [routerLink]="url.product(product)"
                        class="nao-btn nao-btn-sm btn-white">
                    {{ 'TEXT_SEE_FULL_DETAILS' | translate }}
                </button>

            </div>
        </div>
    </div>
</div>
