<div class="card">
    <div class="card-header">
        <h5>{{ 'HEADER_INVOICES_HISTORY' | translate }}</h5>
    </div>
    <ng-container *ngIf="list">
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>{{ 'TABLE_NUMBER' | translate }}</th>
                        <th>{{ 'TABLE_DATE' | translate }}</th>
                        <th>{{ 'TABLE_STATUS' | translate }}</th>
                        <th>{{ 'TABLE_TOTAL' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let invoice of list.items">
                        <td>
                            <a [href]="invoice.link" target="_blank">
                                {{ 'FORMAT_ORDER_NUMBER' | translate:{number: invoice?.data?.invoiceNumber} }}
                            </a>
                        </td>
                        <td>{{ 'FORMAT_DATE_MEDIUM' | translate:{date: invoice?.info?.createdAt} }}</td>
                        <td>{{ invoice?.data?.status | titlecase }}</td>
                        <td>{{ invoice?.fullData?.summary?.total | currencyFormat }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-divider"></div>
        <div class="card-footer">
            <app-pagination [formControl]="currentPage" [siblings]="2" [total]="list.pages"></app-pagination>
        </div>
    </ng-container>
</div>
