<div class="megamenu">
    <div *ngIf="menu.image" class="megamenu__image">
        <img class="reflect-rtl" [src]="menu.image" alt="">
    </div>
    <div class="row">
        <div *ngFor="let column of menu.columns" class="col-{{ column.size }}">
            <ul *ngIf="column.links?.length" class="megamenu__links megamenu-links megamenu-links--root">
                <li *ngFor="let link of column.links" class="megamenu-links__item" [class.megamenu-links__item--has-submenu]="link.links">
                    <a href="javascript:void(0)" class="megamenu-links__item-link" (click)="navigateAndResetFilters(link.url);itemClick.emit(link)">
                        {{ link.title }}
                    </a>
                    <ul *ngIf="link.links?.length" class="megamenu-links">
                        <li *ngFor="let sublink of link.links" class="megamenu-links__item">
                            <a href="javascript:void(0)" class="megamenu-links__item-link" (click)="navigateAndResetFilters(sublink.url);itemClick.emit(sublink)">
                                {{ sublink.title }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
